<!-- <mat-card class="demo-inline-calendar-card">
  <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>
<p>Selected date: {{selected()| date: 'dd/MM/yyyy hh:mm a'}}</p> -->

<!-- 
<app-product-demande-heures></app-product-demande-heures>

<app-product-adress></app-product-adress> -->

<router-outlet  class ="routerOutler"></router-outlet> 




<div class="Block-sc-lb2bri-0 kVNrIe">
  <div class="cXMhzy">
      <div class="Block-sc-lb2bri-0 bTtwdj">
        <button (click) = "retour()" type="button" role="button" kind="link"
              shape="default"
              class=" iySRQa  bFvoqZ Navigation___StyledButtonLink-sc-qy03xm-2 nhZFC">
              <div class="Chce"><span
                      class="Text__ParagraphBase-sc-1frdnbv-2 Text__StyledBody16-sc-1frdnbv-5 biTFkL XKjwC fsYHzu Button___StyledBody4-sc-12xphlo-6 gXMgrl">Retour</span>
              </div>
          </button><button (click) = "suivant()" type="button" role="button" id="button-next" kind="primary"
              shape="default"
              class=" iySRQa  dtKaBQ Navigation___StyledButtonLarge2-sc-qy03xm-4 dFtPzh">
              <div class="Chce"><span
                      class="biTFkL XKjwC bfKNql fXnlgt">Suivant</span>
              </div>
          </button></div>
  </div>
</div>
