.demo-inline-calendar-card {
    width: 400px;
  }

  .bTtwdj {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.iySRQa {
  border: none;
  text-align: left;
  padding: 0px;
  outline: var(--border-width-l) solid var(--color-transparent);
  transition: all 0.2s ease 0s;
}

.XKjwC {
  line-height: var(--font-line-height-paragraph);
  margin-bottom: 0px;
  font-weight: var(--font-weight-medium);
}


@media screen and (min-width: 992px) {
  .cXMhzy {
      padding: 0 var(--spacing-l);
  }
}

@media screen and (min-width: 576px) {
  .cXMhzy {
      padding: 0 var(--spacing-ml);
  }
}

@media screen and (min-width: 0px) {
  .cXMhzy {
      padding: 0 var(--spacing-m);
  }
}



.cXMhzy {
  width: 100%;
  max-width: var(--container-xs);
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--spacing-xxl);
  position: relative;
}





.dtKaBQ.dtKaBQ, .dtKaBQ * {
  text-decoration: none !important;
}

.dtKaBQ.dtKaBQ, .dtKaBQ * {
  text-decoration: none !important;
}

.dtKaBQ, .dtKaBQ * {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.dtKaBQ, .dtKaBQ * {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.dtKaBQ {
  background-color: var(--color-primary500);
  color: var(--color-white);
  border: none;
  padding: var(--spacing-xs) var(--spacing-m);
  border-radius: var(--radius-m);
  min-height: var(--size-l);
  display: inline-flex;
  position: relative;
  user-select: none;
  font-weight: var(--font-weight-medium);
  text-decoration-color: currentcolor;
  overflow: hidden;
}



.routerOutler{
  display: flex;
}