<div class = 'carte' (click) = "c()">
    <ul class="carte_ul" >
        @for (crt of carte; track carte){
        <li class ="carte_li">
            <div class="carte_li_div" (click) ="state($event)">
                <img id = "img" [src]="[crt.img]" [alt]= "[crt.name]" class="img"/>
                <div id ="name">{{crt.name}}</div>
            </div>
        </li>
        }
    </ul>

</div>