.carte{
    height: 500px;
}

.img{
    height: 200px;
    width:300px;
}

.img:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.carte_ul{
    display:flex;
    list-style: none;
}

.carte_li{
    margin :50px;
}

.carte_li:hover{
    cursor: pointer;

}

.carte_li_div div{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-weight: bold;
}
