


  /* custom-stepper.component.css */
.stepper-container {
  display: flex;
  flex-direction: column;
}

.step {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

.step-header {
  font-weight: bold;
  cursor: pointer;
}

.step-content {
  margin-top: 10px;
}

button {
  margin-right: 10px;
}

.step.active .step-header {
  color: #007bff;
}



.c-buttons-steps{
  display: flex;
  text-align: center;
  justify-content: center;
}