 <button mat-raised-button (click)="loadPersonComponent(frn, 1)">Pick one</button> 
<div #dynamicContainer></div>



<div>
  <div class="step" *ngFor="let step of steps; let i = index" (click)="goToStep(i)">
    <span [class.active]="currentStep === i">{{ step }} </span>
  </div>
</div>

<div [ngSwitch]="currentSteps">
  <form [formGroup]="firstFormGroup" *ngSwitchCase="0">
    <h3>Step 1</h3>
    <mat-form-field>
      <input matInput placeholder="First input" formControlName="firstCtrl" required>
    </mat-form-field>
    <button (click)="nextStep()" [disabled]="!isStepValid(0)">Next</button>
  </form>

  <form [formGroup]="secondFormGroup" *ngSwitchCase="1">
    <h3>Step 2</h3>
    <mat-form-field>
      <input matInput placeholder="Second input" formControlName="secondCtrl" required>
    </mat-form-field>
    <button (click)="previousStep()">Back</button>
    <button (click)="nextStep()" [disabled]="!isStepValid(1)">Next</button>
  </form>

  <form [formGroup]="thirdFormGroup" *ngSwitchCase="2">
    <h3>Step 3</h3>
    <mat-form-field>
      <input matInput placeholder="Third input" formControlName="thirdCtrl" required>
    </mat-form-field>
    <button (click)="previousStep()">Back</button>
    <button (click)="nextStep()" [disabled]="!isStepValid(2)">Finish</button>
  </form>
</div>

<app-product-demande></app-product-demande>


<!-- 
<div>
  <div class="stepper-container">
    <div>
      <div class="step-header" (click)="goToStep(1)">
        Step 1
      </div>
      <div class="step-header" (click)="goToStep(2)">
        Step 2
      </div>
    </div>

    <div class="step" [class.active]="currentStep === 1">

      @if(currentStep == 1){
      <div class="step-content">
        <form [formGroup]="firstFormGroup">
          <div>
            <label for="firstName">First Name</label>
            <input id="firstName" formControlName="firstName" required>
          </div>
          <button type="button" (click)="nextStep()">Next</button>
        </form>
      </div>
      }
    </div>

    <div class="step" [class.active]="currentStep === 2">

      @if(currentStep == 2){
      <div class="step-content">
        <form [formGroup]="secondFormGroup">
          <div>
            <label for="address">Address</label>
            <input id="address" formControlName="address" required>
          </div>
          <button type="button" (click)="previousStep()">Back</button>
          <button type="button" (click)="nextStep()">Next</button>
        </form>
      </div>
      }
    </div>

    <div class="step" [class.active]="currentStep === 3">
      <div class="step-header" (click)="goToStep(3)">
        Done
      </div>
      @if(currentStep == 3){
      <div class="step-content">
        <p>You are now done.</p>
        <button type="button" (click)="previousStep()">Back</button>
        <button type="button" (click)="reset()">Reset</button>
      </div>
      }
    </div>
  </div>
</div>





<div class="c-buttons-steps">
  <div>
    <button mat-raised-button color="primary" (click)=retourStep()>retour</button>
  </div>
  <div>
    <button mat-flat-button color="primary" (click)="nextSteps()">next</button>
  </div>
</div>









 -->







<div class="example-input-wrapper">
  <label for="duration">Animation duration:</label>
  <input id="duration" value="2000" type="number" min="0" step="100" #duration>
</div>

<mat-vertical-stepper [linear]="false" #stepper [animationDuration]="duration.value">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>