.about_us{
    margin: 0;
    padding-left:20rem ;
    padding-right:20rem;
}

.about_us_components{

    margin: 0;
    padding: 0;
    
}


.about_us h2{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

