<div class ="about_us">
    <div >
       <h2> À propos de Nous</h2>
        <p>Chez KHIDMATI, nous nous engageons à fournir des services à domicile de qualité supérieure pour rendre la vie de nos clients plus facile et plus confortable. Depuis notre création, notre objectif a toujours été d'offrir une assistance fiable et professionnelle dans le confort de votre foyer.</p>
    </div>

    <div>
        <h2>Notre Mission</h2>
        <p>
         Notre mission est de simplifier votre quotidien en vous offrant une gamme complète de services à domicile adaptés à vos besoins. Que ce soit pour le ménage, la garde d'enfants, l'entretien du jardin ou d'autres tâches domestiques, nous sommes là pour vous aider à trouver des solutions efficaces et pratiques.                    
        </p>
    </div>

    <div>
        <h2>Nos Valeurs Professionnalisme</h2>
        <p>Nous sommes fiers de notre équipe compétente et dévouée, prête à répondre à vos besoins avec le plus grand professionnalisme.
            Fiabilité : Vous pouvez compter sur nous pour être ponctuels, fiables et respectueux de votre domicile à chaque visite.
            Qualité : Nous nous efforçons toujours de fournir des services de la plus haute qualité pour garantir votre satisfaction et votre bien-être.
            Confiance : La confiance que vous nous accordez est essentielle. C'est pourquoi nous travaillons chaque jour pour mériter votre confiance et votre fidélité.
        </p>
    </div>

    <div>
        <h2>Notre Équipe</h2>
        <p>
            Notre équipe est composée de professionnels expérimentés et passionnés, tous déterminés à vous offrir une expérience exceptionnelle. Nous sélectionnons soigneusement chaque membre de notre équipe pour assurer un service de qualité et une relation de confiance avec nos clients.
        </p>
    </div>

 : 

</div>
