<div id="asyncFooter" class="overPa1600"><a href="#" class="link ftBToTop"><span>Retour en haut de page</span><svg class="icon icon--16" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M205.66,117.66a8,8,0,0,1-11.32,0L136,59.31V216a8,8,0,0,1-16,0V59.31L61.66,117.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0l72,72A8,8,0,0,1,205.66,117.66Z"></path></svg></a>



    <div class="ftZnRs"><span>Vous êtes déjà plusieurs millions à nous suivre pour profiter de nos actus, conseils et bons plans !</span><ul><li><a href="https://www.facebook.com/cdiscount" target="_blank" rel="nofollow">
    
                        <img src="https://www.cdiscount.com/resources/RWD/footer/facebook.png" alt="Cdiscount sur Facebook" title="Cdiscount sur Facebook"></a></li><li><a href="https://twitter.com/Cdiscount" target="_blank" rel="nofollow">
    
                        <img src="https://www.cdiscount.com/resources/RWD/footer/twitterX.png" alt="Cdiscount sur X" title="Cdiscount sur X"></a></li><li><a href="https://www.instagram.com/cdiscount/" target="_blank" rel="nofollow">
    
                        <img src="https://www.cdiscount.com/resources/RWD/footer/instagram.png" alt="Cdiscount sur Instagram" title="Cdiscount sur Instagram"></a></li><li><a href="https://www.instagram.com/cdiscountvoyages/" target="_blank" rel="nofollow">
    
                        <img src="https://www.cdiscount.com/resources/RWD/footer/instagram-voyages.png" alt="Cdiscount Voyages" title="Cdiscount Voyages"></a></li><li><a href="https://www.pinterest.fr/cdiscount/" target="_blank" rel="nofollow">
    
                        <img src="https://www.cdiscount.com/resources/RWD/footer/pinterest.png" alt="Cdiscount sur Pinterest" title="Cdiscount sur Pinterest"></a></li></ul></div>
    <div class="ftNav"><div class="ftZn1">
    
    <a target="_blank" rel="nofollow" href="https://www.cdiscount.com/" class="ftZn11"><img src="https://www.cdiscount.com/other/logocdscasino_group_190621094159_240530093410.png" alt="Cdiscount est une filiale du groupe CASINO" title="Cdiscount est une filiale du groupe CASINO"></a>
            <ul class="onlineList">
    <li><a href="https://www.cdiscount.com/n-256576/cdactu/qui-sommes-nous.html">Qui sommes-nous ?</a></li>
    <li><a href="https://www.cdiscount.com/cdiscount-actu.html">Actualités Cdiscount</a></li>
    <li><a href="https://www.cdiscount.com/carte-cdiscount?org=cdis&amp;int=pro&amp;vis=occ&amp;cnl=web&amp;icmp=ccd-_-occ">Carte Cdiscount</a></li>
    <li><a href="https://www.cdiscount.com/shipping/shippinginfo.html?shippingpartnerorigin=ft">Modes &amp; Frais de livraison</a></li>
    <li><a href="https://www.cdiscount.com/plan-du-site.asp">Plan du site</a></li>
    <li><a href="https://www.cdiscount.com/application-mobile.html">Applis Cdiscount</a></li>
    </ul>
    </div>
    
    <div class="ftZn2"><ul>
    <li><div>SERVICES ET GARANTIES</div><ul>
    <li><a href="https://www.cdiscount.com/ct-garantie.html">Garanties et assurances</a></li>
    <li><a href="https://clients.cdiscount.com/account/home.html">Mon Espace Client</a></li>
    <li><a href="https://clients.cdiscount.com/order/orderstracking.html">Mes commandes</a></li>
    <li><a href="https://www.cdiscount.com/nos-engagements-rse/aide-au-choix-responsable.html">Aide au Choix Responsable</a></li>
    </ul></li>
    <li><div>LIVRAISON ET PAIEMENT</div><ul>
    <li><a href="https://www.cdiscount.com/shipping/shippinginfo.html?shippingpartnerorigin=ft">Les modes et frais de livraison</a></li>
    <li><a href="https://www.cdiscount.com/ct-livraison-internationale-par-cdiscount.html">Livraison en Europe</a></li>
    <li><a href="https://www.cdiscount.com/ct-livraison-internationale-par-colisexpat.html">Livraison à l'international</a></li>
    <li><a href="https://www.cdiscount.com/n-367217/pagesaurlfixe/ecopart.html">Eco-participations et reprise</a></li>
    <li><a href="https://www.cdiscount.com/payment/paymentinfo.html">Les moyens de paiement</a></li>
    <li><a href="https://clients.cdiscount.com/information/securityinternet.aspx">Paiement sécurisé</a></li>
    <li><a href="https://www.cdiscount.com/cdav">Cdiscount à Volonté</a></li>
    <li><a href="https://www.cdiscount.com/solution-credit.html">Paiement en plusieurs fois</a></li>
    <li><a href="https://agrikolis.com/" rel="nofollow">Agrikolis recrute</a></li>
    </ul></li>
    <li><div>CONTACTEZ-NOUS</div><ul>
    <li><a href="https://clients.cdiscount.com/contact-service-client.html">Contact Service Client</a></li>
    <li><a href="https://www.cdiscountadvertising.com/" rel="nofollow">Contact Publicité</a></li>
    <li><a href="https://emploi.cdiscount.com">Cdiscount recrute</a></li>
    <li><a href="https://www.cdiscount.com/corner/affiliation/v-14189-14189.html">Affiliation</a></li>
    <li><a href="https://clients.cdiscount.com/notificationform/introduction.html" target="_blank">Notifier un contenu illicite</a></li>
    <li><a href="https://lelab.cdiscount.com/">Le Lab by Cdiscount</a></li>
    <li><a href="https://dropshipping.cdiscount.com/">Cdiscount Dropshipping</a></li>
    </ul></li>
    <li><div>DECOUVREZ NOTRE MARKETPLACE</div><ul>
    <li><a href="https://www.cdiscount.com/clemarche/customerhomepage.html">Acheter à un Vendeur Pro</a></li>
    <li><a href="http://marketplace.cdiscount.com/?utm_source=cdiscount&amp;utm_medium=footer&amp;utm_campaign=cdiscountfooter">Vendre sur Cdiscount</a></li>
    <li><a href="https://seller.cdiscount.com/login.html">Accès espace vendeur</a></li>
    <li><a href="http://marketplace.cdiscount.com/faqs/?utm_source=cdiscount&amp;utm_medium=footer&amp;utm_campaign=cdiscountfooter">FAQ</a></li>
    </ul></li>
    <li><div>INFORMATIONS LEGALES</div><ul>
    <li><a href="https://clients.cdiscount.com/simple/cgv.aspx">Conditions Générales de Vente</a></li>
    <li><a href="https://www.cdiscount.com/n-363119/pagesaurlfixe/cgu-mkp.html">Conditions Générales d’Utilisation Marketplace </a></li>
    <li><a href="https://www.cdiscount.com/vie-privee-et-cookies.html">Protection de la vie privée et cookies</a></li>
    <li><a href="https://www.cdiscount.com/n-359160/pagesaurlfixe/referencement-et-classement.html">Référencement et classement</a></li>
    <li><a href="https://www.cdiscount.com/resources/rwd/other/mentions_legales.pdf">Mentions légales</a></li>
    <li><a href="https://www.cdiscount.com/resources/imagesok/cgv/conditions_accessibilite_numerique.pdf">Accessibilité numérique</a></li>
    <li><a onclick="tC.privacyCenter.showPrivacyCenter();return false" rel="nofollow">Gérer mes cookies</a></li>
    </ul></li>
    </ul></div>
    </div>
    <div class="ftZn3"><ul><li class="PciDss"><a href="https://clients.cdiscount.com/Information/SecurityInternet.aspx" target="_self">
    
                        <img src="https://www.cdiscount.com/resources/RWD/footer/ftReass2.png" alt="PCI" title="PCI"><span><strong>Sécurisation</strong><br><strong>de vos paiements</strong></span></a></li><li class="AdTrust"><a href="http://www.digitaladtrust.fr/" rel="nofollow" target="_blank">
    
                        <img src="https://www.cdiscount.com/resources/RWD/footer/Logo_AdTrust.png" alt="Digital Ad Trust" title="Digital Ad Trust"><span><strong>Digital ad trust pour</strong><br> <strong>une publicité responsable </strong></span></a></li><li class="ftNf"><a href="https://www.acce-o.fr/client/cdiscount" rel="nofollow" target="_blank">
    
                        <img src="https://www.cdiscount.com/resources/RWD/footer/acceo.png" alt="ACCEO" title="ACCEO"><span>
                            <strong>Pour nos clients sourds </strong><br>
                            <strong>et malentendants</strong></span></a></li><li class="AccessibilityWeb"><a href="https://ws.facil-iti.com/" rel="nofollow" target="_blank" data-faciliti-popin="" title="Adaptez l'affichage du site">
    
                        <img src="https://www.cdiscount.com/resources/RWD/footer/Logo-faciliti.png" alt="Outil d'accessibilité FACIL'iti"><span><strong>Adapter l’affichage</strong></span></a></li><li class="ftSingle">
    
                    <img src="https://www.cdiscount.com/resources/RWD/footer/Logo_3979.png" alt="3979" title="3979" class="hideFromPro">
    <img src="https://www.cdiscount.com/resources/RWD/footer/Logo_3991.png" alt="3991" title="3991" class="displayToPro"><span><strong>Pour vous aider à bien choisir,</strong><br><strong>contactez un spécialiste</strong></span></li></ul></div>
    <!--SCRIPTSUBSTITUTION--></div>