.aaaa{
    background-color: red;
    height: 40px;
    width: 100%;
    position: relative;
    display: block;
}

.flex{
    display: flex;
}

.c-layer {
    font-size: 14px;
    height: 100%;
    margin: 0;
    max-width: 500px;
    position: fixed;
    right: 0;
    text-align: left;
    text-align: initial;
    top: 0;
    transition: visibility 0s .24s;
    visibility: hidden;
    width: 100%;
    z-index: 1500;
}


.c-layer--is-visible {
    transition: none;
    visibility: visible;
}

.c-layer--header {
    --layer-header--bg: var(--color-brand);
}

.c-layer--modal.c-layer--open-left .c-layer__content {
    left: 0;
    right: auto;
}

.c-layer__content {
    border-radius: 4px 4px 0 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: -60rem;
    transform: translateY(100%);
    transition: transform .24s;
    transition-timing-function: cubic-bezier(0,0,.38,.9);
    width: 30%;
    position: absolute;
    transition: width 1s;
    z-index:10;
    border:#000 0.1px solid;
}

.c-layer__content-2{
    border-radius: 4px 4px 0 0;
    position: absolute;
    left: auto;
    top: 6rem;
    // transform: translateY(100%);
    transition: transform .24s;
    transition-timing-function: cubic-bezier(0,0,.38,.9);
    width: 80%;
    position: absolute;
    transition: width 1s;
    z-index:10;
}
.c-layer__body-2 {
    -ms-scroll-chaining: none;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.c-layer__content-2 ul {
    display: flex;
}

.hidden{
    //visibility: hidden;
    width: 10rem;
    z-index: 1;
    opacity: 0;
    transition: width 1s;
}

.hiden{
    visibility: inherit;
    transform: translateX(0);

}

header {
    display: flex;
    unicode-bidi: isolate;
}


.c-layer--header .c-layer__header {
    height: var(--header-main--calcHeight);
}

// .c-layer--header .c-layer__grab, .c-layer--header .c-layer__header {
//     background-color: var(--layer-header--bg);
// }

.c-layer__footer, .c-layer__header {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    padding: 16px;
}
 
.c-layer__header {
    justify-content: space-between;
}

.c-layer__close-btn {
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 32px;
    justify-content: center;
    transition: .11s;
    width: 32px;
}

.c-layer__body {
    -ms-scroll-chaining: none;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow: auto;
    overscroll-behavior: contain;
}

.u-p-md {
    padding: 16px;
}

.u-visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: fixed;
    white-space: nowrap;
    width: 1px;
}

.c-stores__item:not(:last-child) {
    border-bottom: 1px solid #e4e7eb;
}

.c-stores__link {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: Hind Madurai, Hind-fallback, Arial, sans-serif;
    font-size: 16px;
    gap: 16px;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    -webkit-text-decoration: none;
    text-decoration: none;
    // background-color: #fff;
    border:none;
}

.c-stores__link-2 {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: Hind Madurai, Hind-fallback, Arial, sans-serif;
    font-size: 16px;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    -webkit-text-decoration: none;
    text-decoration: none;
    // background-color: #fff;
    border:none;
}

.c-stores__img-2 :hover{
    transform : scale(1.5);

}

.c-stores__img, .c-stores__img:before {
    transition: all .11s cubic-bezier(0,0,.3,1);
}

.c-stores__img {
    align-items: center;
    border-radius: 48px;
    display: flex;
    flex-shrink: 0;
    height: 100px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100px;
}

.c-stores__img>img {
    aspect-ratio: 1 / 1;
    height: 100px;
    object-fit: contain;
    transition: all .11s cubic-bezier(0,0,.3,1);
    width: 100px;
}

.c-stores__img-2>img {
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: contain;
    transition: all .11s cubic-bezier(0,0,.3,1);
    width: 100px;
}

.c-stores__img-2{
    align-items: center;
    border-radius: 48px;
    display: flex;
    flex-shrink: 0;
    height: 70px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100px;
    margin: 0;
    padding: 0;
}

.u-position-relative {
    position: relative;
    margin: 0;
    padding: 0;
}


.c-stores__label-2{
    font-weight: bold;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
    padding:0;
    margin: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}



 /* --------------------------------Gestion des color bg-------------------------------- */
 .h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    color: none !important;
}

/*SKIN NAVIGATION */
// .c-shortcutsnav__media {
//     background: #CCE3FF;
// }

@media (min-width: 512px) {
    .c-layer--is-visible .c-layer__content {
        transform: translateX(0);
    }
}

.u-flex {
    display: flex;
}

.u-px-md {
    padding-left: 16px;
    padding-right: 16px;
}

.card-spe {
    max-width: 461px;
}












.container-demandes{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    box-shadow: #000;
    margin: 0;
    padding: 0;
    
    ul{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        li{
            margin: 0;
            padding: 10px 50px;
            border-radius: 15px;

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                font-weight: bold;
            }
        }

        li:hover{
            background-color: aquamarine;
            cursor: pointer;
        }
    }
}
