<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">KHIDMATI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/aboutUs'>About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            @if (!isLoggedIn) {
            <li><a class="dropdown-item" routerLink="login">Login</a></li>
            <li><a class="dropdown-item" routerLink="register">Sign Up</a></li>
            }
            @else {
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">LogOut</a></li>
            }
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="aaaa"> <button (click)="visible()" mat-icon-button color="accent"
    aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button></div>




<div [ngClass]="hiden" class=" u-bg--white u-flex u-flex-column" role="alertdialog"
  aria-labelledby="LayerTitle-HeaderStoreLayer">
  <header class="c-layer__header">
    <h2 id="LayerTitle-HeaderStoreLayer" class="u-text-truncate u-text--white">Nos rayons</h2><button (click)="hidden()"
      class="c-layer__close-btn js-layer__close js-tab-focus"><span class="u-visually-hidden">FERMER</span>
      <!-- <svg
        class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
        viewBox="0 0 256 256">
         <path
          d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z">
        </path> 
      </svg> -->
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"
        style="height: 100%; width: 100%;"></mat-icon>

    </button>
  </header>
  @if(!sousCategories){
  <div class="c-layer__body u-p-md js-layer__body">
    <div class="c-layer__block" id="layer-block">
      <nav id="menu-stores" class="l-stores js-multilevelmenu" role="navigation" aria-label="Tous nos rayons">
        <ul class="c-stores__list">
          <li class="c-stores__item">
            <a class="c-stores__link" href="/corner/v-141-0.html?#nav=Promo_txt"><span class="c-stores__img"><img
                  src="https://i2.cdscdn.com/nav/images/20.jpg" alt="Promo" loading="lazy"></span>
              <div class="u-position-relative">
                <div class="c-stores__label">Promo</div>
              </div>
            </a>
          </li>
          @if(categories){
          <li *ngFor="let category of categories" (click)="sousCategory(category)" class="c-stores__item"
            data-level="1"><button type="button" class="reset c-stores__link"><span class="c-stores__img"><img
                  src="assets/menage.jpg" alt="Jardin Animalerie" loading="lazy"></span>
              <div class="u-position-relative">
                <div class="c-stores__label">{{category.name}}</div>
              </div>
            </button></li>
          }
        </ul>
      </nav>
    </div>
  </div>
  }

  @if(sousCategories){
  <div class="c-layer__body u-p-md js-layer__body">
    <div class="c-layer__block" id="layer-block">
      <nav id="menu-stores" class="l-stores js-multilevelmenu" role="navigation" aria-label="Tous nos rayons">
        <ul class="c-stores__list">
          <li class="c-stores__item">
            <a class="c-stores__link" href="/corner/v-141-0.html?#nav=Promo_txt"><span class="c-stores__img"><img
                  src="https://i2.cdscdn.com/nav/images/20.jpg" alt="Promo" loading="lazy"></span>
              <div class="u-position-relative">
                <div class="c-stores__label ">Promo</div>
              </div>
            </a>
          </li>
          <li *ngFor="let sousCategory of sousCategories" class="c-stores__item js-stores-item"
            data-navigationid="1629094" data-level="1"><button type="button" class="reset c-stores__link"
              (click)="getProductsBysSousCategory(sousCategory)"><span class="c-stores__img"><img
                  src="https://i2.cdscdn.com/nav/images/108058.jpg" alt="Jardin Animalerie" loading="lazy"></span>
              <div class="u-position-relative">
                <div class="c-stores__label ">{{sousCategory.name}}</div>
              </div>
            </button></li>

        </ul>
      </nav>
    </div>
  </div>
  }

</div>


<!-- <div class="c-layer__content-2 u-bg--white u-flex u-flex-column ">
  @if(!sousCategories){
  <ul class="c-stores__list">
    @if(categories){
    <li *ngFor="let category of categories" (click)="sousCategory(category)" class="c-stores__item">
      <button type="button" class="reset c-stores__link-2"><span class="c-stores__img-2"><img src="assets/menage.jpg"
            alt="Jardin Animalerie" loading="lazy"></span>
        <div class="u-position-relative">
          <div class="c-stores__label-2">{{category.name}}</div>
        </div>
      </button>
    </li>
    }
  </ul>
  }
  </div> -->










<div class="container-demandes">
  <div>
    <ul>
      @for(a of sharedService.categories; track a){
      <li (click) ="openDialog(a)">
        <div>
          <span><mat-icon>{{a.icon}}</mat-icon></span>
          <span>{{a.category}}</span>
        </div>
      </li>

    }
    </ul>
  </div>
</div>

<dialog #dialog style="height: 500px; width: 500px; margin: auto auto;">


  <app-dialog  (firstEvent)="firstEvent($event)" (secondEvent)="secondEvent($event)" style="height: 100%; width: 100%;">

  </app-dialog>
</dialog>