mat-form-field{
    display: flex;
    align-items: center;
    width: 50%;
}

.container-adress{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.container-adress div{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
}