<div class="container-adress">
    <div>
        <h1>Quelle est l'adresse de la prestation ?</h1>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Input form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </div>
</div>