<!-- <h2 mat-dialog-title>Hi </h2>
<mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput >
  </mat-form-field>
</mat-dialog-content>
<h2 mat-dialog-title>Hi</h2>
<mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->
@defer(){
<div
    style="display: flex; justify-content: center; align-items: center; opacity: 1; height: 100%; width: 100%; display: flex; flex-direction: column;">
    <div class="dialog-content"></div>
    <span (click)="sendMessage()" class="close-button"><mat-icon>close</mat-icon></span>
    @if(!SousSousCtegory){
    @for(c of data.sous_categorie; track c){
    <div (click)="goToSousSousCtegory(c)" class="sous_category">
        <div>{{c.name}}</div>
    </div>}
    }
    @for(a of SousSousCtegory; track a){
    <div (click)="goToSousSteps(a)" class="sous_category">
        <div>{{a.name}}</div>
    </div>
    }
    
</div>}