:host {
    display: block;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

dialog {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 10px red;
    padding: 20px;
    width: 300px;
    max-width: 50%;
    text-align: center;
}

.dialog-content {
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}

.sous_category{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    border: 2px solid black;
    justify-content: center;
    margin: 0 1px;
    align-items: center;
}

.sous_category :hover{
    background-color: blanchedalmond;
    cursor: pointer;
}
