<form action="#" id="flow-router" data-gtm-form-interact-id="0">
    <div class="Block-sc-lb2bri-0 jKEmuO">
        <div class="cXMhzy">
            <div class="Block-sc-lb2bri-0 hTKJSf">
                <h5
                    class="Text__TextBase-sc-1frdnbv-0 Text__HeadingBase-sc-1frdnbv-1 Text__StyledH5-sc-1frdnbv-15 RQpAz cCpSBP jxbmGd">
                    Nettoyage de matelas</h5>
            </div>
            <div>
                <div>
                    <div style="opacity: 1; transform: none;">
                        <h1 
                            class=  "Text__TextBase-sc-1frdnbv-0 Text__HeadingBase-sc-1frdnbv-1 Text__StyledH1-sc-1frdnbv-11 RQpAz cCpSBP hJfoFx">
                            Quelle heure vous convient le mieux ?</h1>
                        <div class="Block-sc-lb2bri-0 kBoPot StyledFormControl-sc-1cdicwt-0 bDbEmI">
                            <div class="Grid__StyledRow-sc-14ti4kg-1 bwiifh">
                                @for(heure of heures; track heures){
                                <div  class="Grid__Col-sc-14ti4kg-0 ihhYyh">
                                    <div class="Selectable__StyledSelectable-sc-1ehfnpf-0 dofBmp" shape="circle">
                                        <div class="ks-cboxtags" (click)="getHeure(heure)">
                                            <div class="ks-cboxtags-wrapper"><input name="start_hour"
                                                    id="selectable0.6971046993105172" type="checkbox" autocomplete="off"
                                                    checked=""><label for="selectable0.6971046993105172"
                                                    aria-checked="true"><span
                                                        class="Text__TextBase-sc-1frdnbv-0 Text__ParagraphBase-sc-1frdnbv-2 Text__StyledBody18-sc-1frdnbv-4 RQpAz XKjwC dzYAFl">{{heure}}</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Navigation__StyledBar-sc-qy03xm-0 kJdHwL">
                    <div class="Block-sc-lb2bri-0 cLrQec">
                        <div class="Bar__StyledWrapper-sc-1ho8i5o-0 kuNsVl">
                            <div class="Block-sc-lb2bri-0 lpuucy">
                                <div role="progressbar" value="33.333333333333336"
                                    class="Bar__StyledBar-sc-1ho8i5o-1 iLCptp Navigation___StyledProgressBar-sc-qy03xm-1 fNedvL">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>