
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

[type="button"] {
    appearance: none !important;
}

.dFtPzh {
    margin-left: auto;
}

[type="button"] {
    appearance: none !important;
}

.bFvoqZ.bFvoqZ, .bFvoqZ * {
    text-decoration: none;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

[type="button"] {
    appearance: none !important;
}

.nhZFC {
    padding-left: 0px;
    padding-right: 0px;
}

.fXnlgt {
    display: flex;
    flex-direction: row;
}



.bfKNql {
    font-size: var(--font-size-body20);
}



.biTFkL {
    display: block;
    text-align: center;
}

[type="button"] {
    appearance: none !important;
}

.bFvoqZ, .bFvoqZ * {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.bFvoqZ {
    color: var(--color-primary500);
    background-color: transparent;
    border: none;
    padding: var(--spacing-xs) var(--spacing-m);
    border-radius: var(--radius-m);
    min-height: var(--size-s);
    display: inline-flex;
    position: relative;
    user-select: none;
    font-weight: var(--font-weight-medium);
    text-decoration-color: currentcolor;
    overflow: hidden;
}




.kJdHwL {
    position: fixed;
    bottom: 0px;
    background: var(--color-white);
    z-index: 9;
    left: 0px;
    right: 0px;
    padding-bottom: env(safe-area-inset-bottom);
}

.kVNrIe {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
}

.kuNsVl {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.kuNsVl > div {
    flex: 1 1 0%;
}


.fNedvL {
    width: 100%;
}


.iLCptp {
    position: relative;
    background-color: var(--color-gray100);
    height: 4px;
    min-width: 40px;
    border-radius: 0px;
    overflow: hidden;
}

.lpuucy {
    display: flex;
    gap: var(--spacing-xs);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.bwiifh {
    margin-left: calc((var(--spacing-s) / 2)* -1);
    margin-right: calc((var(--spacing-s) / 2)* -1);
    margin-bottom: calc(var(--spacing-s)* -1);
    display: flex;
    flex-wrap: wrap;
}

.dzYAFl {
    font-size: var(--font-size-body18);
}


.RQpAz {
    display: block;
}


.dofBmp .ks-cboxtags .ks-cboxtags-wrapper input:checked + label {
    border: 2px solid var(--color-primary500);
    background-color: var(--color-primary50);
    color: var(--color-primary500);
}
.dofBmp .ks-cboxtags .ks-cboxtags-wrapper label {
    position: relative;
}
.dofBmp .ks-cboxtags .ks-cboxtags-wrapper label {
    border-radius: var(--radius-circle);
    overflow: hidden;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: var(--color-gray100);
    border: 2px solid transparent;
    color: var(--color-gray900);
    white-space: nowrap;
    user-select: none;
    transition: all 0.2s ease 0s;
    margin: 0px;
    padding: var(--spacing-xs) var(--spacing-sm);
    cursor: pointer;
    min-height: var(--size-m);
}

.dofBmp .ks-cboxtags .ks-cboxtags-wrapper {
    display: inline;
}

.dofBmp .ks-cboxtags {
    height: 100%;
    width: 100%;
    position: relative;
}

.bwiifh .Grid__Col-sc-14ti4kg-0 {
    padding-bottom: var(--spacing-s);
}

.bwiifh .Grid__Col-sc-14ti4kg-0 {
    padding-left: calc(var(--spacing-s) / 2);
    padding-right: calc(var(--spacing-s) / 2);
}

.ihhYyh {
    max-width: 100%;
    flex: 0 0 auto;
    display: block;
}

.bDbEmI {
    margin-top: var(--spacing-ml);
}

.kBoPot {
    margin-bottom: var(--spacing-m);
}


.hJfoFx {
    font-size: var(--font-size-h1);
}

.cCpSBP {
    font-weight: var(--font-weight-bold);
    line-height: var(--font-line-height-heading);
    margin-bottom: 0px;
}

.RQpAz {
    display: block;
}

.hTKJSf {
    margin-bottom: var(--spacing-s);
}




.jKEmuO {
    margin-bottom: calc(var(--spacing-l) + var(--spacing-m));
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    background-color: white;
}




input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.dofBmp .ks-cboxtags .ks-cboxtags-wrapper input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

label {
    font-weight: 500;
}

div {
    display: block;
    unicode-bidi: isolate;
}