.overPa1600{
    background-color: #334859;
}

.ftZnRs {
    background-color: #334859;
    background-color: var(--footer-sup-background);
    color: #fff;
    font-size: 1.14em;
    padding: 1.14em 0;
    text-align: center;
    width: 100%;
}

.ftZnRs ul {
    display: inline-block;
    padding-left: 30px;
}

.ftZnRs li {
    display: inline-block;
    padding-right: 30px;
    vertical-align: middle;
}

a, button, input[type=checkbox], input[type=radio], input[type=submit], label {
    cursor: pointer;
}

a {
    color: var(--color-action);
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    image-rendering: optimizeQuality;
    vertical-align: middle;
}

.ftNav {
    background-color: #293847;
    background-color: var(--footer-background);
    padding: 0 20px 20px;
}

.ftZn1 {
    overflow: hidden;
    padding: 10px 0;
}

.ftZn1 a {
    font-size: 1.1em;
}

.ftNav a {
    color: #fff;
}

.ftZn11 {
    float: left;
    overflow: hidden;
}

.ftZn11 img, .ftZn11 span {
    float: left;
    line-height: 3em;
    padding-right: 10px;
}

blockquote, code, img, input, pre, table, td, textarea {
    max-width: 100%;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    image-rendering: optimizeQuality;
    vertical-align: middle;
}

.ftZn1>.onlineList {
    float: right;
    line-height: 3em;
}

dl.onlineList, ul.onlineList {
    display: inline-block;
    overflow: hidden;
}

dl.onlineList dd, ul.onlineList li {
    display: block;
    float: left;
}

.ftNav li>a, .ftNavLnk li>a {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.ftZn2>ul {
    display: table;
    width: 100%;
}

.ftZn2>ul>li {
    border-right: 1px solid #5f6a75;
    border-right: 1px solid var(--footer-column-border-color);
    display: table-cell;
    padding: 0 5px 0 2%;
    width: 20%;
}

.ftZn2>ul>li>div {
    color: #fff;
    font-size: 1.14em;
    font-weight: 700;
    padding: 0 0 8px;
    text-transform: uppercase;
}

.ftZn2>ul>li>ul li {
    line-height: 1.5;
}

.ftZn2>ul>li li {
    margin-bottom: 4px;
}

.ftNav a {
    color: #fff;
}

.ftZn3 {
    color: #323232;
    padding: 8px 16px;
}

.ftZn3>ul {
    text-align: center;
}

ol, ul {
    list-style: none;
}

.ftZn3 li {
    display: inline-block;
    vertical-align: middle;
    width: 19%;
}

.ftZn3 a {
    color: #323232;
    font-size: .9em;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.AdTrust img, .PciDss img {
    float: none;
    padding-left: 0;
    padding-right: 5px;
}

.ftZn3 img {
    display: inline;
    vertical-align: middle;
}



