<app-navbar></app-navbar>



 <router-outlet></router-outlet> 
 
<!--<google-map [center]="{lat: 51.678418, lng: 7.809007}" [zoom]="8" style="height: 400px;"></google-map>-->


<!-- 
<form [formGroup]="formCategory" (ngSubmit)="onSubmitCategory()">
<div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Category</label>
    <input type="text" class="form-control" id="exampleInputPassword1" formControlName="name">
  </div>
  <button class="btn btn-primary btn_submit" type="submit" [disabled]="!formCategory.valid">Continuer</button>
</div>
</form>

<form [formGroup]="formSousCategory" (ngSubmit)="onSubmitSousCategory()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nom du Produit</label>
    <select #dropdown class="form-select form-select-lg mb-3" aria-label="Large select example" formControlName="selectedValue">
      <option selected value = "1">--</option>
      @for (category of categories; track category) {
      <option [value] = "category.idCategory">{{ category.name }}</option>
    }
    </select>
  </div>
  <div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Category</label>
      <input type="text" class="form-control" id="exampleInputPassword1" formControlName="name">
    </div>
    <button class="btn btn-primary btn_submit" type="submit" [disabled]="!formSousCategory.valid">Continuer</button>
  </div>
  </form> -->


