<app-product-demande></app-product-demande>


<!-- 
<div class="container">
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Category</label>
          <select (change) = "onSelect($event)" #dropdown class="form-select form-select-lg mb-3" aria-label="Large select example" formControlName="selectedValueCategory">
            <option selected value = "1">--</option>
            @for (value of values; track $index) {
            <option [value] = "value.idCategory">{{ value.name }}</option>
          }
          </select>
        </div>
  
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Category</label>
          <select  #dropdown class="form-select form-select-lg mb-3" aria-label="Large select example" formControlName="selectedValueSousCategory">
            <option selected value = "1">--</option>
            @for (valueCategory of sousCategory; track $index) {
            <option [value] = "valueCategory.idSousCategory">{{ valueCategory.name }}</option>
          }
          </select>
        </div>
  
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nom du Produit</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="productName">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Prix</label>
          <input type="number" class="form-control" id="exampleInputPassword1" formControlName="productPrice">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description du Produit</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            formControlName="productDescription"></textarea>
        </div>
        <div class="mb-3 ">
          <input type="file"  (change)="onFileSelected1($event)">
        </div>
  
        <div class="mb-3 ">
          <input type="file"  (change)="onFileSelected2($event)">
        </div>
  
  
  
        <button class="btn btn-primary btn_submit" type="submit" [disabled]="!form.valid">Continuer</button>
  
      </form>
    </div>
  </div> -->