@if (currentUser) {
<div class="container grid">
  <div>
    @if(dataGetImage){
      <div class="image-container">

      <img [src]='dataGetImage' class = "img"/>
      </div>

    <a routerLink = '/profile'> </a>}
</div>
@if(!dataGetImage){
<input type="file" (change)="onFileSelected($event)">
}

@if(dataGetImage){
<button type="button" class="btn btn-danger" (click) = "supprPhoto(currentUser)">Supprimer la photo</button>
}
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> 
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    @for (role of currentUser.roles; track role) {
    <li>{{ role }}</li>
    }
  </ul>
</div>
} @else {
<p>Please login.</p>
}
