/* .img{
    max-width: 200px;
    max-height: 200px;
} */

.image-container {
    width: 150px; /* desired square size */
    height: 150px; /* desired square size */
    overflow: hidden;
    position: relative;
    border: 2px solid #000; /* optional, to visualize the boundaries of the square */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.container{
    margin : 0;
    padding: 0;
    width: 100%;
}