
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import '@angular/material/prebuilt-themes/indigo-pink.css';




html{
    position:relative;
    z-index: 3;
}

.btn_submit{
    height: 100%;
    width: 10rem;
}

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ebecde;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #8043CA;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #FFB942;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #8EDADB;
    --white: #FFFFFF;
    --gray: #8A939E;
    --gray-dark: #2F3236;
    --primary: #0078FA;
    --secondary: #85c954;
    --success: #20A153;
    --info: #15b1ae;
    --warning: #FFB942;
    --danger: #E72323;
    --light: #F4F4F5;
    --dark: #25282C;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --color-gray900: #13151B;
    --color-gray800: #25282C;
    --color-gray700: #2F3236;
    --color-gray600: #5D636A;
    --color-gray500: #8A939E;
    --color-gray400: #A3AAB3;
    --color-gray300: #B9BFC5;
    --color-gray200: #D2D6DA;
    --color-gray100: #E9EAEC;
    --color-gray50: #F4F4F5;
    --color-white: #FFFFFF;
    --color-pink900: #250E16;
    --color-pink800: #4A1C2D;
    --color-pink700: #6C2841;
    --color-pink600: #913657;
    --color-pink500: #B5446E;
    --color-pink400: #C6678A;
    --color-pink300: #D590A9;
    --color-pink200: #E3B5C6;
    --color-pink100: #F2DEE5;
    --color-pink50: #F9F0F4;
    --color-danger900: #2E0505;
    --color-danger800: #610B0B;
    --color-danger700: #8F1010;
    --color-danger600: #C11515;
    --color-danger500: #E72323;
    --color-danger400: #EC5050;
    --color-danger300: #F17E7E;
    --color-danger200: #F5A8A8;
    --color-danger100: #FAD6D6;
    --color-danger50: #FDEDED;
    --color-orange900: #301203;
    --color-orange800: #652607;
    --color-orange700: #94380A;
    --color-orange600: #C94C0D;
    --color-orange500: #F05F19;
    --color-orange400: #F38249;
    --color-orange300: #F6A379;
    --color-orange200: #F9C0A4;
    --color-orange100: #FCE1D4;
    --color-orange50: #FEF2EC;
    --color-orangered900: #4D0000;
    --color-orangered800: #8F0000;
    --color-orangered700: #DB0000;
    --color-orangered600: #FF2424;
    --color-orangered500: #FF6B6B;
    --color-orangered400: #FF8A8A;
    --color-orangered300: #FFA8A8;
    --color-orangered200: #FFC7C7;
    --color-orangered100: #FFE5E5;
    --color-orangered50: #FFF5F5;
    --color-purple900: #1A0C2C;
    --color-purple800: #331854;
    --color-purple700: #4D247F;
    --color-purple600: #652FA7;
    --color-purple500: #8043CA;
    --color-purple400: #9968D4;
    --color-purple300: #B490E0;
    --color-purple200: #CFB7EB;
    --color-purple100: #E7DBF5;
    --color-purple50: #F4EFFB;
    --color-primary900: #001E3D;
    --color-primary800: #003166;
    --color-primary700: #004794;
    --color-primary600: #0060C7;
    --color-primary500: #0078FA;
    --color-primary400: #2E93FF;
    --color-primary300: #66B0FF;
    --color-primary200: #99CAFF;
    --color-primary100: #D1E7FF;
    --color-primary50: #EBF4FF;
    --color-turquoise900: #12393A;
    --color-turquoise800: #226B6C;
    --color-turquoise700: #34A1A2;
    --color-turquoise600: #59C8CA;
    --color-turquoise500: #8EDADB;
    --color-turquoise400: #A2E0E1;
    --color-turquoise300: #B9E8E9;
    --color-turquoise200: #CDEEEF;
    --color-turquoise100: #E4F6F6;
    --color-turquoise50: #ECF9F9;
    --color-success900: #082B16;
    --color-success800: #0D4021;
    --color-success700: #136233;
    --color-success600: #198042;
    --color-success500: #20A153;
    --color-success400: #2AD56E;
    --color-success300: #62E094;
    --color-success200: #99EBBA;
    --color-success100: #CCF5DC;
    --color-success50: #EAFBF1;
    --color-warning900: #422A00;
    --color-warning800: #805100;
    --color-warning700: #C27B00;
    --color-warning600: #FFA200;
    --color-warning500: #FFB942;
    --color-warning400: #FFC766;
    --color-warning300: #FFD48A;
    --color-warning200: #FFE1AD;
    --color-warning100: #FFEED1;
    --color-warning50: #FFF4E0;
    --color-brown900: #24180F;
    --color-brown800: #3A2617;
    --color-brown700: #573A23;
    --color-brown600: #754D2F;
    --color-brown500: #915F3A;
    --color-brown400: #B97E50;
    --color-brown300: #CB9E7C;
    --color-brown200: #DEC1AB;
    --color-brown100: #EFE1D7;
    --color-brown50: #F8F2ED;
    --color-body: var(--color-gray900);
    --color-muted: var(--color-gray600);
    --color-muted-light: var(--color-gray500);
    --color-border: var(--color-gray100);
    --color-background-dark: var(--color-gray300);
    --color-background-gray: var(--color-gray100);
    --color-background-light: var(--color-gray50);
    --color-background-dark: var(--color-gray900);
    --color-background: var(--color-white);
    --color-on-color: var(--color-white);
    --color-primary-dark: var(--color-primary900);
    --color-primary: var(--color-primary500);
    --color-primary-light: var(--color-primary50);
    --color-success-dark: var(--color-success900);
    --color-success: var(--color-success500);
    --color-success-light: var(--color-success50);
    --color-danger-dark: var(--color-danger900);
    --color-danger: var(--color-danger500);
    --color-danger-light: var(--color-danger50);
    --color-warning-dark: var(--color-warning900);
    --color-warning: var(--color-warning500);
    --color-warning-light: var(--color-warning50);
    --color-orange-dark: var(--color-orange900);
    --color-orange: var(--color-orange500);
    --color-orange-light: var(--color-orange50);
    --color-purple-dark: var(--color-purple900);
    --color-purple: var(--color-purple500);
    --color-purple-light: var(--color-purple50);
    --color-overlay-backdrop-dark: rgba(0,0,0,0.85);
    --color-overlay-backdrop: rgba(0,0,0,0.3);
    --color-overlay-dark: rgba(0,0,0,0.05);
    --color-overlay-light: rgba(255,255,255,0.2);
    --color-transparent: rgba(255, 255, 255, 0);
    --spacing-xxs: 2px !important;
    --spacing-xs: 4px !important;
    --spacing-s: 8px !important;
    --spacing-sm: 12px !important;
    --spacing-m: 16px !important;
    --spacing-ml: 24px !important;
    --spacing-l: 32px !important;
    --spacing-xl: 64px !important;
    --spacing-xxl: 96px !important;
    --radius-xs: 0.125rem;
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-ml: 12px;
    --radius-l: 16px;
    --radius-xl: 32px;
    --radius-circle: 777px;
    --shadow-xs: 0px 4px 8px rgba(0, 0, 0, 0.04);
    --shadow-s: 0 4px 16px rgba(0, 0, 0, 0.12);
    --shadow-m: 0 8px 32px rgba(0, 0, 0, 0.14);
    --shadow-l: 0 16px 3rem rgba(0, 0, 0, 0.18);
    --shadow-up-xs: 0 -4px 8px rgba(0, 0, 0, 0.04);
    --shadow-up-s: 0 -4px 16px rgba(0, 0, 0, 0.12);
    --shadow-up-m: 0 -8px 32px rgba(0, 0, 0, 0.14);
    --shadow-up-l: 0 -16px 3rem rgba(0, 0, 0, 0.18);
    --size-8: 8px;
    --size-12: 12px;
    --size-14: 14px;
    --size-16: 16px;
    --size-18: 18px;
    --size-20: 20px;
    --size-24: 24px;
    --size-32: 32px;
    --size-s: 36px;
    --size-m: 48px;
    --size-l: 56px;
    --size-64: 64px;
    --size-72: 72px;
    --size-96: 96px;
    --size-128: 128px;
    --size-136: 136px;
    --font-line-height-heading: 1.2;
    --font-line-height-paragraph: 1.5;
    --font-size-display1: 72px;
    --font-size-display2: 56px;
    --font-size-display3: 48px;
    --font-size-h1: 34px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-body20: 20px;
    --font-size-body18: 18px;
    --font-size-body16: 16px;
    --font-size-body14: 14px;
    --font-size-caption: 12px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --container-xs: 576px;
    --container-s: 768px;
    --container-m: 1024px;
    --container-l: 1180px;
    --container-xl: 1400px;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --border-width-s: 1px;
    --border-width-m: 2px;
    --border-width-ml: 3px;
    --border-width-l: 4px;
    --border-width-xl: 8px;
    --border-width-xxl: 12px;
    --nav-height: 66px;
    --brand-logo-height: 36px;
}














.container-cart{
    margin:0;
    padding:0;
    border-radius: 4px;
    box-shadow: 4px;
    height: 250px;
    background-color: red;
    width: 150px;
    align-content: space-between;
    display: flex;
    flex-direction: column;
}

.img-class{
    display: flex;

    width: 100%;
    height: 55%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.description-cart{
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.price-cart{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.c-layer {
    font-size: 14px;
    height: 100%;
    margin: 0;
    max-width: 500px;
    position: fixed;
    right: 0;
    text-align: left;
    text-align: initial;
    top: 0;
    transition: visibility 0s .24s;
    visibility: hidden;
    width: 100%;
    z-index: 1500;
}

.l-header {
    box-shadow: 0 4px 4px 0 rgba(41, 56, 71, .15);
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    float: none;
    font-size: 14px;
    position: static;
    position: relative;
    z-index: 300;
}
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 1024px) {
    :root {
        --header-gutters: 24px;
    }
}

@media (min-width: 768px) {
    :root {
        --header-gutters: 16px;
    }
}

.c-layer--is-visible {
    transition: none;
    visibility: visible;
}

.c-layer--header {
    --layer-header--bg: var(--color-brand);
}

.c-layer--modal.c-layer--open-left .c-layer__content {
    left: 0;
    right: auto;
}

.c-layer__content {
    border-radius: 4px 4px 0 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(100%);
    transition: transform .24s;
    transition-timing-function: cubic-bezier(0,0,.38,.9);
    width: 100%;
}

header {
    display: block;
    unicode-bidi: isolate;
}


.c-layer--header .c-layer__header {
    height: var(--header-main--calcHeight);
}

.c-layer--header .c-layer__grab, .c-layer--header .c-layer__header {
    background-color: var(--layer-header--bg);
}

.c-layer__footer, .c-layer__header {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    padding: 16px;
}

.c-layer__header {
    justify-content: space-between;
}

.c-layer__close-btn {
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 32px;
    justify-content: center;
    transition: .11s;
    width: 32px;
}

.c-layer__body {
    -ms-scroll-chaining: none;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow: auto;
    overscroll-behavior: contain;
}

.u-p-md {
    padding: 16px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.u-visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


















































.c-stores__item:not(:last-child) {
    border-bottom: 1px solid #e4e7eb;
}

.c-stores__link {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: Hind Madurai, Hind-fallback, Arial, sans-serif;
    font-size: 16px;
    gap: 16px;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #fff;
    border:none;
}

.c-stores__img, .c-stores__img:before {
    transition: all .11s cubic-bezier(0,0,.3,1);
}

.c-stores__img {
    align-items: center;
    border-radius: 48px;
    display: flex;
    flex-shrink: 0;
    height: 48px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 48px;
}

.u-position-relative {
    position: relative;
}

.c-stores__link .c-stores__label {
    transform: translateY(0);
}

ol, ul {
    list-style: none;
}



li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}


.c-stores__item:not(:last-child) {
    border-bottom: 1px solid #e4e7eb;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.c-stores__img>img {
    aspect-ratio: 1 / 1;
    height: 28px;
    object-fit: contain;
    transition: all .11s cubic-bezier(0,0,.3,1);
    width: 28px;
}

 /* --------------------------------Gestion des color bg-------------------------------- */
 .h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    color: none !important;
}

.js-tabs__panel {
    transition: opacity 0.3s ease;
    opacity: 0;
    display: none;
    /* pour s'assurer que l'&eacute;l&eacute;ment est cach&eacute; et non cliquable */
}

.js-tabs__panel.is-active {
    opacity: 1;
    display: block;
}

.o-card {
    border-radius: 8px;
}



.u-block--outflow {
    margin-right: calc(50% + 8px - (50vw - 0px));
    margin-left: calc(50% - (50vw - 0px));
    padding-right: calc(50vw - 0px - (50% + 8px));
    padding-left: calc(50vw - 0px - (50% - 0px));
}







.u-text--body-lead {
    font-size: 16px;
}

.u-fw--bold {
    font-weight: 700;
}

.js-accordion__item {
    border-bottom: 1px solid #b6c2cd;
    padding-bottom: 16px;
}

.u-bg--nuance-0, .u-bg--white {
    background-color: #fff;
}

.u-flex-column {
    flex-direction: column;
}

@media (min-width: 512px) {
    .c-layer--is-visible .c-layer__content {
        transform: translateX(0);
    }
}

.u-flex {
    display: flex;
}


.u-py-sm {
    padding-bottom: 8px;
    padding-top: 8px;
}

.u-px-md {
    padding-left: 16px;
    padding-right: 16px;
}




.card-spe {
    max-width: 461px;
}




.img-fluid {
    height: auto;
    max-width: 100%;
}

/* --------------------------------
Composant Chips
-------------------------------- */
.c-chip {
    display: inline-flex;
    align-items: center;
    /* reset - in case the class is applied to a <button> or an <a> */
    border: 0;
    border-radius: 50px;
    background-color: rgba(41, 56, 71, 0.1);
    line-height: 1;
    color: inherit;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    font-size: 14px;
    background: white;
    /* you can ovveride this padding by using the padding utility classes */
}

.c-chip:not([class^=u-p-]):not([class*=" u-p-"]) {
    padding: 4px;
}

.c-chip--neutral {
//    background-color: rgba(41, 56, 71, 0.2);
    color: #7a8999;
}

.c-chip--promo {
//    background-color: #e8f8fe;
    color: #16b4f2;
}

.c-chip--promo {
 //   background-color: #fcebe6;
    color: #ffffff;
}

.c-chip__label {
    padding: 0 4px;
    font-style: normal;
}

/* promo LOG*/
.l-ventePrive__item {
    transition: all 0.2s ease-in-out;
}

.l-ventePrive__item {
    transform: translateY(-4px);
}

.l-ventePrive__item {
    height: 150px;
}


#ventePrive .c-chip {
border-radius: 150px;
}

.l-ventePrive__grid {
grid-gap: 16px;
display: grid;
grid-template-columns: 1fr;
padding: 16px;
margin-top: -16px;
}

@media(min-width: 768px) {
.l-ventePrive__grid {
    grid-template-columns:repeat(3,minmax(0,1fr));
}
}

.l-ventePrive__item {
grid-column: 1/2;
overflow: hidden;
border-radius: 8px;
background: none;
}

@media(min-width: 768px) {
.l-ventePrive__item {
    grid-column:span 1;
    grid-row: span 1
}
}

/*
.l-ventePrive--hero {
height: 263px
}
@media(min-width: 768px) {
.l-ventePrive--hero {
height:316px
}
}
.l-ventePrive__item:not(.l-ventePrive--hero) {
height: 135px
}
@media(min-width: 768px) {
.l-ventePrive__item:not(.l-ventePrive--hero) {
height:182px
}
}
*/
.l-ventePrive--item1 {
grid-area: 1/1
}

@media(min-width: 768px) {
.l-ventePrive--item1 {
    grid-area:1/1
}
}

.l-ventePrive--item2 {
grid-row: 2/3
}

@media(min-width: 768px) {
.l-ventePrive--item2 {
    grid-area:1/2/2/4
}
}

.l-ventePrive--item3 {
grid-row: 3/4
}

@media(min-width: 768px) {
.l-ventePrive--item3 {
    grid-area:2/1
}
}

.l-ventePrive--item4 {
grid-row: 4/5
}

@media(min-width: 768px) {
.l-ventePrive--item4 {
    grid-area:2/2
}
}

.l-ventePrive--item5 {
grid-row: 5/6
}

@media(min-width: 768px) {
.l-ventePrive--item5 {
    grid-area:2/3
}
}

.l-ventePrive--item6 {
grid-row: 6/7
}

@media(min-width: 768px) {
.l-ventePrive--item6 {
    grid-area:3/1
}
}

.l-ventePrive--item7 {
grid-row: 7/8
}

@media(min-width: 768px) {
.l-ventePrive--item7 {
    grid-area:3/2
}
}

.l-ventePrive--item8 {
grid-row: 8/9
}

@media(min-width: 768px) {
.l-ventePrive--item8 {
    grid-area:3/3
}
}

.o-thumbnail {
--border-radius: 8px;
--padding: 0;
border-radius: var(--border-radius);
overflow: hidden;
padding: var(--padding)
}

.o-thumbnail img {
height: 100%;
}

.c-card--ventePrive {
border-radius: 8px;
max-height: 100%;
overflow: hidden;
padding: 0
}

.c-card--ventePrive img {
object-fit: cover;
width: 100%;
}

.o-zone__bottom,.o-zone__top {
--x: 1rem;
--right: 1rem;
--left: 1rem;
left: var(--x);
position: absolute;
right: var(--x);
z-index: 1
}

.o-zone__top {
--top: 1rem;
top: var(--top)
}

.o-zone__bottom {
--bottom: 1rem;
bottom: var(--bottom)
}

.c-card--ventePrive {
position: relative;
object-fit: cover;
height: 100%;
}

.c-card--ventePrive .o-zone__top {
align-items: flex-start;
display: flex;
justify-content: space-between
}

.c-card--ventePrive .o-zone__bottom {
align-items: flex-end;
display: flex;
justify-content: flex-end;
}



.c-chip.c-chip--ventePrive .c-chip__label {
padding: 4px 4px;
}

.btn--white {
background-color: #fff;
color: #323232;
}

.btn--white.btn--icon-only .icon {
--size: 24px;
}

.c-vente-prive__edito {
grid-gap: 16px;
display: flex;
flex-direction: column-reverse;
gap: 16px;
}

@media(min-width: 1024px) {
.c-vente-prive__edito {
    flex-direction:column;
    height: 100%;
    left: inherit;
    width: 100%;
}
}

.c-vente-prive__stress {
background: #f8603a;
border-radius: 8px;
padding: 16px;
}

.c-vente-prive__stress .c-progress--flashsale {
margin-bottom: 8px;
margin-top: 8px;
}

.c-vente-prive__content {
background: #f8603a;
border-radius: 8px;
display: flex;
flex-direction: column;
height: 100%;
padding: 8px;
text-align: center;
}

@media only screen and (max-width: 768px) {
/* Styles pour .o-vp-edito sur mobile */ #grid-02 {
    background: linear-gradient(170deg, #dd441e 40%, #f7672da6 100.01%);
    padding: 16px;
    margin-left: -5px;
    margin-right: -5px;
}
}

@media screen and (min-width: 768px) {
.l-ventePrive__grid {
    padding: 0px;
}
}

.c-card--ventePrive {
transition: transform 0.2s ease-in-out;
}

.c-card--ventePrive:hover {
transform: scale(1.05);
}

.chips-spe-promo {
padding: 8px;
border-radius: 8px;
background: #E8F8FE;
font-size: 12px;
margin-top: 8px;
margin-bottom: 8px;
}

.o-logoCagnotte {
//content: url(data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8Zm.182-13.714a5.818 5.818 0 0 0-5.896 5.722 5.81 5.81 0 0 0 5.896 5.706 6.006 6.006 0 0 0 4.612-2.125l-1.76-1.489a3.533 3.533 0 0 1-6.4-2.092 3.46 3.46 0 0 1 3.55-3.567 3.486 3.486 0 0 1 2.854 1.474l1.76-1.49a6.01 6.01 0 0 0-4.616-2.139Z' fill='%2316B4F2'/%3E%3C/svg%3E);
display: inline-block;
height: 1em;
margin-left: 0.125em;
margin-right: 0.125em;
position: relative;
vertical-align: middle;
width: 1em;
}

.promoPriceTab {
background-color: #EFEFEF;
font-family: "Montserrat";
box-sizing: border-box;
font-size: 15px;
color: #293847;
max-width: 1700px;
margin-left: auto;
margin-right: auto;
padding-top: 30px;
padding-bottom: 30px;
}

.promoPriceTab * {
box-sizing: border-box;
}

.promoPriceTab img {
max-width: 100%;
}

.promoPriceTab__wrapper {
max-width: 85%;
margin-left: auto;
margin-right: auto;
}

.promoPriceTab__tabPC {
width: 100%;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
border-spacing: 0;
border-collapse: collapse;
}

.promoPriceTab__tabPC--standard {
margin-top: 50px;
}

.promoPriceTab__tabPC th, .promoPriceTab__tabPC td {
border: 1px solid #7c7c7c;
}

.promoPriceTab .tdLegende {
border: none;
padding-bottom: 50px;
}

.promoInsideTable {
width: 100%;
border-spacing: 0;
border-collapse: collapse;
}

.promoInsideTable td {
border: none;
width: 50%;
}

.promoInsideTable td:first-child {
border-right: 1px solid #7c7c7c;
}

.promoWithInsideTable {
background-color: #16B4F2;
}

.promoPriceTab__tab__colTitle {
background-color: #fff;
padding-left: 8px;
font-size: 16px;
text-align: left;
}

.promoPriceTab__tab__colTitle img {
display: inline-block;
vertical-align: middle;
margin-right: 15px;
}

.promoPriceTab__tab__promo {
background-color: #293847;
color: #ffffff;
font-family: 'Montserrat';
padding: 10px;
font-size: 16px;
text-align: center;
font-weight: normal;
}

.promoPriceTab__tab__promo--min {
width: 150px;
}

.promoPriceTab__tab__promo__price {
color: #ffffff;
background-color: #16B4F2;
text-align: center;
padding: 10px;
font-size: 28px;
font-weight: bold;
font-weight: bold;
}

.promoPriceTab__tab__promo__price .promoPriceMin {
color: #293847;
}

.promoPriceTab__tab__promo__price__price {
font-size: 24px;
line-height: 1.5;
font-weight: normal;
color: #ffffff;
font-family: 'Montserrat';
}

.promoPriceTab__tab__promo__price__price sup {
font-size: 14px;
}

.promoPriceMin {
font-weight: normal;
font-size: 14px;
line-height: 18px;
}

.promoPriceTab__tab__price {
background-color: #ffffff;
padding: 10px;
line-height: 22px;
text-align: center;
}

.promoPriceTab__tab__price__price {
font-size: 28px;
line-height: 35px;
color: #293847;
font-weight: normal;
}

.promoPriceTab__tab__price__price.min {
font-size: 30px;
}

.promoPriceTab__tab__price__price--inline {
display: inline-block;
}

.promoPriceTab__tab__price__price sup {
font-size: 14px;
}

.promoPriceTab__tab__item {
padding: 15px 20px 15px 30px;
background-color: #ffffff;
text-align: left;
}

.promoPriceTab__tab__rowTitle {
font-weight: 500;
font-size: 14px;
}

.promoPriceTab__tab__rowSubtitle {
color: #E23A05;
}

.promoPriceTab__tab__titleVert {
background-color: #ffffff;
color: #E23A05;
font-size: 18px;
text-align: center;
padding: 10px 20px;
font-weight: 500;
}

.promoPriceTab__tab__legende {
padding-left: 30px;
padding-top: 10px;
padding-bottom: 8px;
font-size: 14px;
width: 100%;
margin-left: auto;
margin-right: auto;
max-width: 1200px;
}

.promoPriceTab__tab__liv {
text-align: center;
padding: 10px 15px;
background-color: #ffffff;
}

.promoPriceTab__tab__liv .promoPriceTab__tab__choice {
max-width: 40px;
}

.promoPriceTab__tab__legende__item {
display: inline-block;
margin-right: 15px;
}

.promoPriceTab__tab__legende__item .promoPriceTab__tab__choice {
max-width: 25px;
margin-right: 5px;
display: inline-block;
vertical-align: middle;
}

/* SMS */
.promoPriceTab__tabSMS {
display: none;
}

.promoPriceTab__tabSMS .promoPriceTab__tab__colTitle {
padding-top: 8px;
padding-bottom: 5px;
}

.promoPriceTab__tabSMS .promoPriceTab__tab__legende {
padding-left: 0;
font-size: 16px;
}

.promoPriceTab__tabSMS .promoPriceTab__tab__liv {
padding: 0;
}

.promoPriceTab__tabSMS__tabTitle img {
display: inline-block;
margin-right: 10px;
}

.promoPriceTab__tabSMS__tabTitle>div {
display: inline-block;
vertical-align: middle;
}

.promoPriceTab__tabSMS--standard {
margin-top: 30px;
}

/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
@media (max-width: 1080px) {
.promoPriceTab {
    font-size: 14px;
}

.promoPriceTab__wrapper {
    max-width: 95%;
}

.promoPriceTab__tab__liv .promoPriceTab__tab__choice {
    max-width: 30px;
}

.promoPriceTab__tab__legende__item .promoPriceTab__tab__choice {
    max-width: 20px;
}

.promoPriceTab__tab__promo--min {
    width: 120px;
}

.promoPriceTab__tab__rowTitle {
    font-size: 18px;
}

.promoPriceTab__tab__rowSubtitle {
    font-size: 16px;
    font-weight: normal;
}

.promoPriceTab__tab__colTitle {
    padding-left: 15px;
}

.promoPriceTab__tab__item {
    padding: 15px 20px 15px 15px;
}

.promoPriceTab__tab__legende {
    font-size: 15px;
}
}

@media (max-width: 780px) {
.promoPriceTab__tabPC {
    display: none;
}

.promoPriceTab__tabSMS {
    display: block;
}

.promoPriceTab__tab__rowTitle {
    font-size: 16px;
}

.promoPriceTab__tab__rowSubtitle {
    font-size: 14px;
    font-weight: normal;
}

.promoPriceTab__tab__promo__price {
    font-size: 26px;
}

.promoPriceTab__tab__promo__price__price, .promoPriceTab__tab__price__price {
    font-size: 18px;
    line-height: 30px;
}

.promoPriceTab__tab__promo__price__price sup, .promoPriceTab__tab__price__price sup {
    font-size: 22px;
}

.promoPriceTab__tab__liv {
    padding: 10px;
}

.promoPriceTab__tab__colTitle img {
    max-width: 50px;
}

.promoPriceTab__tab__legende {
    font-size: 16px;
}
}

@media (max-width: 600px) {
.promoPriceTab__tab__colTitle img {
    margin-right: 5px;
    max-width: 40px;
}

.promoPriceTab__tab__colTitle {
    font-size: 16px;
    letter-spacing: 0;
}

.promoPriceTab__tab__promo__price {
    font-size: 24px;
}

.promoPriceTab__tab__promo__price__price, .promoPriceTab__tab__price__price {
    font-size: 30px;
    line-height: 20px;
    margin-top: 5px;
}

.promoPriceTab__tab__price {
    font-size: 12px;
}

.promoPriceMin {
    font-size: 12px;
    line-height: 16px;
}

.promoPriceTab__tab__promo__price__price sup, .promoPriceTab__tab__price__price sup {
    font-size: 18px;
}

.promoPriceTab__tab__rowTitle {
    font-size: 14px;
    letter-spacing: 0;
}

th.promoPriceTab__tab__promo--min {
    width: 85px;
}

.promoPriceTab__tab__promo {
    font-size: 16px;
    letter-spacing: 0;
}

th.promoPriceTab__tab__promo {
    width: 100px;
}

.promoPriceTab__tab__price__price.min {
    font-size: 20px;
}
}

@media (max-width: 500px) {
th.promoPriceTab__tab__promo--min {
    width: 70px;
}

.promoPriceTab__tab__promo__price {
    font-size: 20px;
    padding: 8px 4px;
}

.promoPriceTab__tab__colTitle {
    font-size: 14px;
}

.promoPriceTab__tab__legende {
    font-size: 14px;
}

.promoPriceTab__tab__rowSubtitle sup {
    line-height: 0;
}

.promoPriceTab__tab__promo__price__price sup, .promoPriceTab__tab__price__price sup {
    font-size: 16px;
}

.promoPriceTab__tab__price {
    padding: 8px 4px;
}
}

@media (max-width: 480px) {
.promoPriceTab__tab__rowTitle, .promoPriceTab__tab__rowSubtitle {
    font-size: 12px;
}
}

@media (max-width: 390px) {
.promoPriceTab__wrapper {
    max-width: 97%;
}

.promoPriceTab__tab__item {
    padding: 15px 10px;
}

.promoPriceTab__tab__colTitle img {
    max-width: 30px;
}

.promoPriceTab__tab__promo__price__price, .promoPriceTab__tab__price__price {
    font-size: 30px;
    line-height: 25px;
}

.promoPriceMin, .promoPriceTab__tab__price {
    line-height: 15px;
}

.promoPriceTab__tab__rowSubtitle sup {
    font-size: 8px;
}
}

.l-ventePrive__grid .o-card {
background: none;
box-shadow: none;
}

.o-card__footer .o-picto span:nth-child(2) {
display: initial;
}
/* SKIN 24H */
.c-promo-flash__content {
background-color: #2b3846;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

/*SKIN NAVIGATION */
.c-shortcutsnav__media {
background: #CCE3FF;
}

.container__bigoffre2 {
background-color: #f2f3f5;
padding-bottom: 32px;
}

.c-opeco__edito {
background-color: #f2f3f5;
}

.labelrse {
font-weight: 400;
margin-bottom: 8px;
background-color: rgb(234, 247, 237);
font-weight: 400;
margin-bottom: 8px;
color: #124a1f;
}

.carouselXXL-container {
padding-right: 0px;
margin-top: 32px;
}

.carouselXXL-container1 {
padding-right: 0px;
margin-top: 32px;
}

.container__bigoffre {
max-width: 100%;
/* Ajustez cette valeur en fonction de la largeur souhait&eacute;e */
margin: 16px auto;
}

#bigoffre {
display: grid;
grid-template-columns: 1fr 2fr;
gap : 16px;
padding-bottom: 32px;
padding-top: 16px;
}

#bigoffre .col-content {
}

#bigoffre .o-card__image:first-child img {
width: 100%;
margin-top: -16px;
margin-left: -32px;
border-radius: 8px;
height: auto;
}

#bigoffre .o-card--h .o-card__image {
object-fit: cover;
max-width: 370px;
object-fit: cover;
padding-top: 16px;
padding-left: 16px;
}

.carouselXXL-container {
position: relative;
overflow: hidden;
}

.carouselXXL-container1 {
position: relative;
overflow: hidden;
}

.carouselXXL {
display: flex;
overflow-x: scroll;
-webkit-overflow-scrolling: touch;
gap: 16px;
}

.carouselXXL-inner {
display: flex;
flex-wrap: nowrap;
scroll-snap-align: start;
padding-left: 8px;
margin-bottom: 16px;
}

.carouselXXL-item {
flex: 0 0 auto;
margin-right: 16px;
position: relative;
padding-top: 8px;
border-radius: 8px;
}

.new-badge {
position: absolute;
top: -16px;
right: -8px;
background-color: #293847;
color: white;
font-size: 16px;
border-radius: 50%;
width: 45px;
height: 45px;
display: flex;
align-items: center;
font-family: 'Hind Madurai';
justify-content: center;
font-weight: 400;
}

.carouselXXL-item img {
border-radius: 8px;
height: 400px;
}

.btn-right {
position: absolute;
bottom: 8px;
right: 8px;
}

/*
@media (min-width: 768px) {
.carouselXXL-item {
flex: 0 0 calc(33.333% - 16px);
}
}
*/
@media screen and (min-width: 768px) {
.mobile-img {
    display: none;
}
}

@media screen and (max-width: 767px) {
.desktop-img {
    display: none;
}
}

.js-items:hover img {
transform: scale(1.05);
transition: transform 0.3s ease;
}

.c-card--ventePrive:hover {
transform: scale(1.05);
transition: transform 0.3s ease;
}

.c-card--ventePrive:first-child:hover {
transform: scale(1.02);
}

.c-hero {
z-index: 1;
display: grid;
align-items: center;
grid-template-columns: 1fr;
grid-gap: 16px;
height: 100%;
text-align: center;
gap: 16px;
}

.c-hero > .c-control-hero__left {
display: flex;
}

@media (min-width: 768px) {
.c-hero {
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.c-hero > .c-control-hero__left {
    display: flex;
}
}

.c-hero__left {
position: relative;
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 32px;
overflow: hidden;
}

@media (min-width: 768px) {
.c-hero__right {
    max-width: 446px;
    padding-top: 32px;
    padding-bottom: 32px;
}
}

.c-hero__right h2 {
font-size: 20px;
line-height: 1.25;
font-weight: 600;
}

@media (min-width: 768px) {
.c-hero__right h2 {
    font-size: 32px;
}
}

.c-hero__right h2 > span {
font-size: 28px;
}

#brand-control {
margin-top: -10px;
padding-top: 8px;
}

.l-grid[data-grid-columns="3"] {
--grid-columns: inherit;
}

@media (max-width: 1024px) {
.c-productCard--promoFlash .o-card__image img {
    width: 50%;
}
}

.crTdg {
border: none !important;
background: none !important;
position: relative;
max-width: 1600px;
margin-left: auto;
margin-right: auto;
padding: 16px;
margin-bottom: 0px;
}

.hubImgListing a, .hubImgListing img, .hubNewsListing a, .hubNewsListing img {
border-radius: 8px !important;
}

.hubImgListing li:first-child, .hubImgListing li:nth-child(2) {
padding-bottom: 0px !important;
}

@media screen and (max-width: 768px) {
.btn--icon-only {
    padding-right: 8px;
    padding-left: 8px;
    height: 35px;
    width: 35px;
}
}

.l-ventePrive__item:not(:first-child) {
transition: all 0.2s ease-in-out;
}

.l-ventePrive__item:not(:first-child):hover {
transform: translateY(-4px);
}

@media only screen and (max-width: 768px) {
.l-ventePrive__item:not(:first-child):nth-child(n+3) {
    height: 105px;
}
}

#ventePrive .c-chip {
border-radius: 150px;
}

.l-ventePrive__grid {
grid-gap: 16px;
display: grid;
grid-template-columns: 1fr;
padding: 16px;
margin-top: -16px;
}

@media(min-width: 768px) {
.l-ventePrive__grid {
    grid-template-columns:repeat(3,minmax(0,1fr));
    grid-template-rows: 316px auto;
}
}

.l-ventePrive__item {
grid-column: 1/2;
overflow: hidden;
border-radius: 8px;
background: none;
}

@media(min-width: 768px) {
.l-ventePrive__item {
    grid-column:span 1;
    grid-row: span 1
}
}

/*
.l-ventePrive--hero {
height: 263px
}
@media(min-width: 768px) {
.l-ventePrive--hero {
height:316px
}
}
.l-ventePrive__item:not(.l-ventePrive--hero) {
height: 135px
}
@media(min-width: 768px) {
.l-ventePrive__item:not(.l-ventePrive--hero) {
height:182px
}
}
*/
.l-ventePrive--item1 {
grid-area: 1/1
}

@media(min-width: 768px) {
.l-ventePrive--item1 {
    grid-area:1/1
}
}

.l-ventePrive--item2 {
grid-row: 2/3
}

@media(min-width: 768px) {
.l-ventePrive--item2 {
    grid-area:1/2/2/4
}
}

.l-ventePrive--item3 {
grid-row: 3/4
}

@media(min-width: 768px) {
.l-ventePrive--item3 {
    grid-area:2/1
}
}

.l-ventePrive--item4 {
grid-row: 4/5
}

@media(min-width: 768px) {
.l-ventePrive--item4 {
    grid-area:2/2
}
}

.l-ventePrive--item5 {
grid-row: 5/6
}

@media(min-width: 768px) {
.l-ventePrive--item5 {
    grid-area:2/3
}
}

.l-ventePrive--item6 {
grid-row: 6/7
}

@media(min-width: 768px) {
.l-ventePrive--item6 {
    grid-area:3/1
}
}

.l-ventePrive--item7 {
grid-row: 7/8
}

@media(min-width: 768px) {
.l-ventePrive--item7 {
    grid-area:3/2
}
}

.l-ventePrive--item8 {
grid-row: 8/9
}

@media(min-width: 768px) {
.l-ventePrive--item8 {
    grid-area:3/3
}
}

.o-thumbnail {
--border-radius: 8px;
--padding: 0;
border-radius: var(--border-radius);
overflow: hidden;
padding: var(--padding)
}

.o-thumbnail img {
height: 100%;
}

.c-card--ventePrive {
border-radius: 8px;
max-height: 100%;
overflow: hidden;
padding: 0
}

.c-card--ventePrive img {
object-fit: cover;
width: 100%;
}

.o-zone__bottom,.o-zone__top {
--x: 1rem;
--right: 1rem;
--left: 1rem;
left: var(--x);
position: absolute;
right: var(--x);
z-index: 1
}

.o-zone__top {
--top: 1rem;
top: var(--top)
}

.o-zone__bottom {
--bottom: 1rem;
bottom: var(--bottom)
}

.c-card--ventePrive {
position: relative;
object-fit: cover;
height: 100%;
}

.c-card--ventePrive .o-zone__top {
align-items: flex-start;
display: flex;
justify-content: space-between
}

.c-card--ventePrive .o-zone__bottom {
align-items: flex-end;
display: flex;
justify-content: flex-end;
}


.c-chip.c-chip--ventePrive {
background-color: #f8603a;
color: white;
font-size: 14px;
font-weight: 600;
}

.c-chip.c-chip--ventePrive .c-chip__label {
padding: 4px 8px;
}

.c-vente-prive__edito {
grid-gap: 16px;
display: flex;
flex-direction: column-reverse;
gap: 16px;
}

@media(min-width: 1024px) {
.c-vente-prive__edito {
    flex-direction:column;
    height: 100%;
    left: inherit;
    width: 100%;
}
}

.c-vente-prive__stress {
background: #f8603a;
border-radius: 8px;
padding: 16px;
}

.c-vente-prive__stress .c-progress--flashsale {
margin-bottom: 8px;
margin-top: 8px;
}

.c-vente-prive__content {
background: #f8603a;
border-radius: 8px;
display: flex;
flex-direction: column;
height: 100%;
padding: 8px;
text-align: center;
}

@media only screen and (max-width: 768px) {
/* Styles pour .o-vp-edito sur mobile */ #grid-02 {
    background: linear-gradient(170deg, #dd441e 40%, #f7672da6 100.01%);
    padding: 16px;
    margin-left: -5px;
    margin-right: -5px;
}
}

@media screen and (min-width: 768px) {
.l-ventePrive__grid {
    padding: 0px;
    margin-top: 0px;
}
}

#edito-vendeur .o-card__image {
display: flex;
align-items: center;
}

.c-opeco__carousel>.carouselImage>ul li img {
border: 0px !important;
border-radius: 8px;
}

.imgListRz img, .imgListRz2 img {
border-radius: 8px;
}

.fullgrid-item h2 {
margin-top : 32px;
}

.c-tabs-spe {
margin-top: 32px;
}

body {
background-color: #F2F3F5 !important;
}

.hubImgListNowWithoutTitleBis {
padding-top: 0px;
margin-top: 0px;
}

.o-block__title {
margin-top: 32px;
}

.c-chip--promo {
color: #e23a05 !important;
}

.c-opeco__edito {
border-radius: 8px !important;
}

.c-opeco__container {
 border-radius: 8px !important;
}

.c-opeco__editoContent>p {
font-family: 'Hind Madurai' !important;
}

.imgListRz {
margin-top: 0px !important;
}

.voyContainer {
padding-top: 0px !important;
}

.imgListRz img {
border-radius: 8px !important;
}

.c-opeco__edito {
border-radius: 8px !important;
}

.c-opeco__container {
margin-bottom: 64px !important;
}

/* --------------------------------
Descr: Gestion des separateur (hr)
-------------------------------- */
.hr {
position: relative;
outline: 0;
border: 0;
height: 24px;
line-height: 1.5;
text-align: center;
}

.hr > span {
position: relative;
background-color: #f2f3f5;
padding: 0 8px;
font-size: 16px;
line-height: 24px;
color: #293847;
}

.hr--dash > span {
position: absolute;
top: calc(50% - 1.5px);
left: calc(50% - 9px);
border-radius: 4px;
height: 3px;
max-width: 18px;
}

/* --------------------------------
Doublons css card
-------------------------------- */
.o-card__main {
margin-top: 16px;
}

/* --------------------------------
Variant card
-------------------------------- */
.c-productCard--promoFlash {
flex-direction: column;
}

@media (min-width: 1600px) {
.c-productCard--promoFlash {
    flex-direction: column;
}
}

.c-productCard--soldout::after {
z-index: 4;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
content: "";
border-radius: 8px;
}

.c-productCard--soldout:before {
border-radius: 8px;
}



.c-productCard--promoFlash .o-card__image img {
width: 80%;
margin: auto;
}


/* --------------------------------
Composant promo flash
-------------------------------- */
.c-promo-flash__container {
position: relative;
display: flex;
flex-direction: column;
grid-gap: 16px;
gap: 16px;
}

@media (min-width: 1024px) {
.c-promo-flash__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-gap: 24px;
    margin-top: inherit;
    margin-right: inherit;
    width: auto;
    gap: 24px;
}
}

.c-promo-flash__image {
margin-bottom: 16px;
text-align: center;
}

.c-promo-flash__edito {
display: flex;
flex-direction: column-reverse;
grid-gap: 16px;
gap: 16px;
}

@media (min-width: 1024px) {
.c-promo-flash__edito {
    left: inherit;
    flex-direction: column;
    min-width: 400px;
    width: 100%;
    flex: 0 0 400px;
}
}

@media (min-width: 1366px) {
.c-promo-flash__edito {
    flex: 0 0 400px;
}
}

.c-promo-flash__stress {
border-radius: 8px;
background-color: white;
padding: 16px;
}

.c-promo-flash__stress .c-progress--flashsale {
margin-top: 8px;
margin-bottom: 8px;
}

.c-promo-flash__grid {
--col-min-width: auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
grid-gap: 16px;
width: 100%;
gap: 16px;
}

@media (min-width: 768px) {
.c-promo-flash__grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
}
}

@media (min-width: 1024px) {
.c-promo-flash__grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
}
}

@media (min-width: 1280px) {
.c-promo-flash__grid {
    --col-min-width: 258px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    width: calc(100% - 400px - 24px);
}
}

.c-promo-flash__image {
display: none;
}

@media (min-width: 1024px) {
.c-promo-flash__image {
    display: block;
}
}

.c-promo-flash__content {
border-radius: 8px;
display : block;
background-color: white;
min-height: 247px;
padding: 32px;
text-align: center;
}

.c-promo-flash__content > p {
line-height: 1.5;
}

.c-promo-flash__more {
padding-top: 1rem;
padding-bottom: 1rem;
text-align: center;
}

@media (min-width: 1024px) {
.c-promo-flash__more {
    padding-left: 424px;
}
}

.c-price--cdav {
color: #16B4F2;
}

.mention-cdav {
display: flex;
position: relative;
//top: -40px;
left: 130px;
}

.img-fluid {
height: auto;
max-width: 100%;
}

/* --------------------------------
Composant Chips
-------------------------------- */
.c-chip {
display: inline-flex;
align-items: center;
/* reset - in case the class is applied to a <button> or an <a> */
border: 0;
border-radius: 4px;
background-color: rgba(41, 56, 71, 0.1);
line-height: 1;
color: inherit;
appearance: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: bold;
font-size: 12px;
/* you can ovveride this padding by using the padding utility classes */
}

.c-chip:not([class^=u-p-]):not([class*=" u-p-"]) {
padding: 4px;
}

.c-chip--neutral {
background-color: rgba(41, 56, 71, 0.2);
color: #7a8999;
}

.c-chip--cdav {
background-color: #e8f8fe;
color: #16b4f2;
}

.c-chip--promo {
background-color: #fcebe6;
color: #ffffff;
}

.c-chip__label {
padding: 0 4px;
font-style: normal;
}

.c-chip.c-chip--cdav-cagnotte {
color: white;
font-size: 16px;
font-weight: 600;
border-radius: 50px;
background: linear-gradient(121.54deg, #16B4F2 17.25%, #82DCFF 100.01%);
}

/* --------------------------------
Scope Edito
-------------------------------- */
.s-edito-promo-flash > .hr {
position: relative;
display: none;
outline: 0;
border: 0;
background-color: transparent;
height: 24px;
line-height: 1.5;
text-align: center;
}

@media (min-width: 1024px) {
.s-edito-promo-flash > .hr {
    display: block;
}
}

.s-edito-promo-flash .hr--dash::before {
content: normal;
content: initial;
}

.s-edito-promo-flash .hr--dash::before > span {
position: absolute;
top: calc(50% - 1.5px);
left: calc(50% - 9px);
border-radius: 4px;
height: 3px;
max-width: 18px;
}

.s-edito-promo-flash__date {
display: none;
margin-top: 16px;
font-size: 16px;
font-weight: bold;
}

@media (min-width: 1024px) {
.s-edito-promo-flash__date {
    display: block;
}
}

.s-edito-promo-flash p {
font-size: 16px;
line-height: 1.5;
}

h2, .h2, .alt-h2 {
font-family: "Montserrat" !important;
}

.titre-content {
max-width: 1600px;
margin-top : 32px;
margin-bottom : 16px;
margin-left : 5px;
text-align: left;
color: #323232;
font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-weight: 400;
}

.sous-titre-content {
max-width: 1600px;
margin-top : 32px;
margin-bottom : 16px;
margin-left : 5px;
text-align: left;
color: #323232;
font-family: 'Montserrat', sans-serif;
font-size: 21px;
font-weight: 600;
}

.edito-content {
color: #323232;
font-family: 'Hind Madurai', sans-serif;
font-size: 14px;
text-align: left;
margin-left: 5px;
line-height: 21px;
font-weight: 400;
margin-bottom: 16px
}

.SectionHeading {
font-size: 21px;
color: #323232;
margin-top: 25px;
}

.fXwJGh.fXwJGh.fXwJGh .SectionTitleRow {
padding: 0px 10px 0px !important;
}

.o-text h1, .o-text h2, .o-text h3, .o-text h4 {
margin-bottom: 16px;
line-height: 1.5;
}

.o-text h2, .o-text h3, .o-text h4 {
margin-top: 32px;
}

.o-text p, .o-text blockquote, .o-text ul li, .o-text ol li {
line-height: 1.5;
}

.o-text ul, .o-text ol, .o-text p, .o-text blockquote, .o-text .o-text__block {
margin-bottom: 16px;
}

.o-text ul, .o-text ol {
list-style-position: inside;
}

.o-text ul ul, .o-text ul ol, .o-text ol ul, .o-text ol ol {
margin-bottom: 0;
padding-left: 1em;
}

.o-text ul {
list-style-type: disc;
}

.o-text ol {
list-style-type: decimal;
}

.o-text .no-bullet {
list-style-type: none;
}

.o-text img {
display: block;
margin: 0 auto;
}

.o-text figcaption {
margin-top: 8px;
text-align: center;
}

.o-text em {
font-style: italic;
}

.o-text hr, .o-text .hr {
margin-top: 16px;
margin-right: auto;
margin-bottom: 16px;
margin-left: auto;
}

.o-text > *:first-child {
margin-top: 0;
}

.o-text > *:last-child {
margin-bottom: 0;
}

.center-titre-content {
max-width: 1600px;
margin-top : 64px;
margin-bottom : 16px;
margin-left : 5px;
text-align: center;
color: #323232;
font-family: 'Montserrat', sans-serif;
font-size: 21px;
font-weight: 600;
}

.vfProgressBar.jsProgressBg {
background-color: #e23a05;
border-radius: 50px;
height: 10px;
position: relative;
width: 100%;
-webkit-transition: width 1s ease-in-out;
-moz-transition: width 1s ease-in-out;
-o-transition: width 1s ease-in-out;
transition: width 1s ease-in-out;
}

.vfProgress {
background: #d7d9e4;
border-radius: 50px;
height: 5px;
margin: 0 auto 7px auto;
overflow: hidden;
padding-bottom: 10px;
text-align: center;
width: 100%;
}

/* --------------------------------
File: _scroller.scss
Title: Scroller
Weight: Components
Descr: Gestion d'un scroller d'&eacute;l&eacute;ment
-------------------------------- */
.u-to-scroll + .c-scroller__arrows {
margin-top: -16px;
}

.u-to-scroll {
position: relative;
width: 100%;
overflow: auto;
scroll-behavior: smooth;
padding-bottom: 16px;
scrollbar-width: none;
}

.c-scroller__container {
position: relative;
left: 0;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
grid-gap: 16px;
padding: 1px;
gap: 16px;
}

.c-scroller__item {
min-width: 320px;
}

.c-scroller__arrows {
position: absolute;
display: flex;
justify-content: space-between;
width: 100%;
pointer-events: none;
}

.c-scroller__btn {
display: none;
}

@media (min-width: 512px) {
.c-scroller__btn {
    z-index: 1;
    display: flex;
    background-color: white;
    height: 6rem;
    width: 3rem;
    cursor: pointer;
    pointer-events: auto;
    transition: 0.2s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
}

.c-scroller__btn .icon {
display: block;
margin: auto;
height: 2rem;
width: 2rem;
}

.c-scroller__btn--arrow-left {
border-radius: 0 4px 4px 0;
}

.c-scroller__btn--arrow-right {
border-radius: 4px 0 0 4px;
}

.c-card--reassurance {
justify-content: center;
align-items: center;
}

.c-card--reassurance .o-card__image img {
width: auto;
}

.c-card--reassurance {
justify-content: center;
align-items: center;
}

.c-card--reassurance .o-card__image img {
width: auto;
}

.shortcuts-nav {
font-size: 14px;
display: flex;
flex-direction: column;
gap: 16px;
position: relative;
padding-top: 8px;
}

.c-shortcutsnav__grid {
display: grid;
grid-auto-flow: row;
grid-template-columns: repeat(auto-fill, minmax(138px,1fr));
gap: 32px calc((100% / 8) - 138px);
}

a.c-shortcutsnav__item {
text-decoration: none;
}

.c-shortcutsnav__item {
width: 122px;
display: flex;
flex-direction: column;
gap: 8px;
position: relative;
}

.c-shortcutsnav__media {
width: 122px;
height: 122px;
border-radius: 122px;
display: flex;
align-items: center;
justify-content: center;
}

.c-shortcutsnav__title {
font-size: 16px;
line-height: 24px;
text-align: center;
color: #293847;
}

.c-shortcutsnav__decote {
width: 62px;
height: 62px;
border-radius: 62px;
text-align: center;
position: absolute;
right: -16px;
top: -8px;
display: flex;
align-items: center;
justify-content: center;
font-weight: 600;
font-size: 18px;
background-color: #FF4C56;
color: white;
}

.c-shortcutsnav__img {
height: 55px;
}

.c-shortcutsnav__gradient1 {
background: linear-gradient(133.51deg, #D81C59 19.24%, #EA796F 84.78%);
}

.c-shortcutsnav__gradient2 {
background: linear-gradient(133.51deg, #D81C59 19.24%, #EA796F 84.78%);
}

a.c-shortcutsnav__item:hover .c-shortcutsnav__media, a.c-shortcutsnav__item:focus .c-shortcutsnav__media {
box-shadow: 0 0 0 2px #FFFF00;
}

a.c-shortcutsnav__item:hover .c-shortcutsnav__decote {
transition: font-size 150ms cubic-bezier(0, 0, 0.3, 1);
font-size: 22px;
}

.vignettewidgets-widget .vignettewidget .vignettewidget_header {
overflow: hidden;
border-radius: 8px;
}

.vignettewidgets-widget {
max-width: 1620px;
margin: 0 auto;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
}

.vignettewidgets-widget img {
max-width: 100%;
height: auto;
}

.vignettewidgets-widget .rowwidget {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
margin-left: -16px;
}

.vignettewidgets-widget .rowwidget > * {
flex-basis: 100%;
max-width: 100%;
min-width: 0;
margin-bottom: 16px;
margin-left: 16px;
}

.vignettewidgets-widget .vignettewidget {
border-radius: 8px;
overflow: hidden;
margin-bottom: 10px;
}

.vignettewidgets-widget .vignettewidget_1-8 {
width: calc((100%/4) - 0.1px - 16px);
flex-basis: calc((100%/4) - 0.1px - 16px);
}

@media only screen and (min-width: 768px) {
.vignettewidgets-widget .vignettewidget_1-8 {
    width: calc((100%/8) - 0.1px - 16px);
    flex-basis: calc((100%/8) - 0.1px - 16px);
}
}

.vignettewidgets-widget .vignettewidget:hover .vignettewidget_header img {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.vignettewidgets-widget .vignettewidget a {
display: block;
text-decoration: none;
color: #323232;
}

.vignettewidgets-widget .vignettewidget .vignettewidget_header {
overflow: hidden;
}

.vignettewidgets-widget .vignettewidget .vignettewidget_header img {
-webkit-transition: -webkit-transform .4s ease;
transition: -webkit-transform .4s ease;
transition: transform .4s ease;
transition: transform .4s ease, -webkit-transform .4s ease;
width: 100%;
}

.vignettewidgets-widget .vignettewidget .vignettewidget_title {
text-align: center;
}

.vignettewidgets-widget .vignettewidget .vignettewidget_title h3 {
font-size: 14px;
font-family: 'Hind Madurai';
padding: 4px 0 4px;
margin: 0;
font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
/* styles pour le zoom sur hover */
.c-imgGrid__link:hover .imgGrid__img {
transform: scale(1.02);
transition: transform 0.3s ease-in-out;
}

/* styles pour la grille d'images */
.c-imgGrid {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 16px;
}

/* styles pour la grille d'images sur mobile 2 */
@media only screen and (max-width: 600px) {
.c-imgGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap : 8px;
}
}

@media only screen and (max-width: 600px) {
.o-control__content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
}

/* styles pour le contenu */
.o-control__content {
grid-gap: 16px;
padding-left: 16px;
padding-right: 16px;
}

/* styles pour les images */
.c-imgGrid__link .imgGrid__img {
border-radius: 8px;
width: 100%;
}

/* --------------------------------
File: _scroller.scss
Title: Scroller
Weight: Components
Descr: Gestion d'un scroller d'&eacute;l&eacute;ment
-------------------------------- */
.c-scroller__container {
position: relative;
left: 0;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
grid-gap: 16px;
padding: 1px;
gap: 16px;
}

.c-scroller__item {
min-width: 320px;
}

.c-scroller__arrows {
position: absolute;
display: flex;
justify-content: space-between;
width: 100%;
pointer-events: none;
}

.c-scroller__btn {
display: none;
}

@media (min-width: 512px) {
.c-scroller__btn {
    z-index: 1;
    display: flex;
    background-color: white;
    height: 6rem;
    width: 3rem;
    cursor: pointer;
    pointer-events: auto;
    transition: 0.2s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
}

.c-scroller__btn .icon {
display: block;
margin: auto;
height: 2rem;
width: 2rem;
}

.c-scroller__btn--arrow-left {
border-radius: 0 4px 4px 0;
}

.c-scroller__btn--arrow-right {
border-radius: 4px 0 0 4px;
}

.c-card--reassurance {
justify-content: center;
align-items: center;
}

.c-card--reassurance .o-card__image img {
width: auto;
}

.c-card--reassurance {
justify-content: center;
align-items: center;
}

.c-card--reassurance .o-card__image img {
width: auto;
}

.vignettes-AR {
max-width: 1620px;
margin: 0 auto;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
}

.vignettes-AR img {
max-width: 100%;
height: auto;
}

.vignettes-AR .row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}

.vignettes-AR .vignette {
background: #fff;
border-radius: 8px;
overflow: hidden;
margin-bottom: 10px;
}

@media (min-width: 768px) {
.vignettes-AR .vignette {
    background: #fff;
}
}

.vignettes-AR .vignette_1-4 {
max-width: 48%;
}

@media (min-width: 768px) {
.vignettes-AR .vignette_1-4 {
    width: calc(25% - 12px);
}
}

.vignettes-AR .vignette_1-6 {
max-width: 31%;
}

@media (min-width: 768px) {
.vignettes-AR .vignette_1-6 {
    width: calc(16.666% - 13.3333px);
}
}

.vignettes-AR .vignette:hover .vignette_header img {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.vignettes-AR .vignette a {
display: block;
text-decoration: none;
color: #323232;
}

.vignettes-AR .vignette .vignette_header {
overflow: hidden;
}

.vignettes-AR .vignette .vignette_header img {
-webkit-transition: -webkit-transform .4s ease;
transition: -webkit-transform .4s ease;
transition: transform .4s ease;
transition: transform .4s ease, -webkit-transform .4s ease;
width: 100%;
}

.vignettes-AR .vignette .vignette_title {
text-align: center;
padding: 8px;
}



/*# sourceMappingURL=style.css.map */
/* bloc grille cdav */
.grid-item h4 {
text-align: center;
margin-top: 8px;
}

.c-tabs-spe {
padding-top : 32px;
padding-bottom: 32px;
background: linear-gradient(121.54deg, #16B4F2 17.25%, #82DCFF 100.01%);
}

.js-tabs__panel {
transition: all 0.3s ease-in-out;
opacity: 0;
}

.js-tabs__panel.is-active {
opacity: 1;
}

/* styles pour la grille d'images sur mobile 2 */
@media only screen and (max-width: 600px) {
.c-imgGrid {
grid-template-columns: repeat(2, 1fr);
grid-gap : 8px;
}
}

@media only screen and (max-width: 600px) {
.o-control__content {
padding-left: 0px !important;
padding-right: 0px !important;
}

.c-tabs-spe {
border-radius: 0px ;
margin-left: -5px !important;
margin-right: -5px !important;
padding-top: 16px;
}
}

/* styles pour le contenu */
.o-control__content {
grid-gap: 16px;
padding-left: 50px;
padding-right: 50px;
}

/* styles pour les images */
.c-imgGrid__link .imgGrid__img {
border-radius: 4px;
width: 100%;
}

/* styles pour la grille d'images */
.c-imgGrid {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 16px;
}

/* styles pour la grille d'images sur mobile 2 */
@media only screen and (max-width: 600px) {
.c-imgGrid {
grid-template-columns: repeat(2, 1fr);
grid-gap : 8px;
padding-left: 8px;
padding-right: 8px;
}
}

@media only screen and (max-width: 600px) {
.o-control__content {
padding-left: 0px !important;
padding-right: 0px !important;
}

.c-tabs-spe {
margin-left: none !important;
margin-right: none !important;
}

.btn--spemob {
margin-left: 8px;
margin-right: 8px;
}
}

/* styles pour le contenu */
.o-control__content {
grid-gap: 16px;
padding-left: 16px;
padding-right: 16px;
}

/* styles pour les images */
.c-imgGrid__link .imgGrid__img {
border-radius: 8px;
width: 100%;
}

.u-sepcdav {
display: flex;
justify-items: center;
justify-content: center;
margin-bottom: 32px;
}

.grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-gap: 8px;
max-height: 400px;
height: 100%;
padding-left: 50px;
padding-right: 50px;
}

.grid-item {
border-radius: 8px;
padding: 16px 8px 16px 8px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.fullgrid {
grid-column: 1/4;
padding: 32px, 8px, 32px, 8px;
background-color: #094C66;
border-radius: 8px;
margin-top: 32px;
}

.fullgrid-item {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

section.js-tabs__panel.is-active {
display: block;
}

@media only screen and (max-width: 600px) {
.grid {
grid-template-columns: repeat(2, 1fr);
padding-left: 16px;
padding-right: 16px;
margin-bottom: 100px;
}

.fullgrid {
grid-column: 1/1;
padding: 32px, 8px, 32px, 8px;
margin-left: 16px;
margin-right: 16px;
}

.fullgrid-item {
padding-left: 8px;
padding-right: 8px;
text-align: center;
}
}

@media only screen and (max-width: 600px) {
.u-sepcdav {
white-space: nowrap;
position: relative;
width: 100%;
overflow: auto;
scroll-behavior: smooth;
justify-content: normal;
}
}

@media only screen and (max-width: 1620px) {
.c-tabs-spe {
}
}

/* bloc grille fin cdav */
.vignetteactus-AR {
max-width: 1620px;
margin: 0 auto;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
}

.vignetteactus-AR img {
max-width: 100%;
height: auto;
}

.vignetteactus-AR .row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}

.vignetteactus-AR .vignetteactu {
background: #293847;
border-radius: 8px;
overflow: hidden;
margin-bottom: 8px;
}

.vignetteactus-AR .vignetteactu_1-4 {
max-width: 48%;
}

@media (min-width: 768px) {
.vignetteactus-AR .vignetteactu_1-4 {
width: calc(25% - 12px);
}
}

.vignetteactus-AR .vignetteactu_1-6 {
max-width: 31%;
}

@media (min-width: 768px) {
.vignetteactus-AR .vignetteactu_1-6 {
width: calc(16.666% - 13.3333px);
}
}

.vignetteactus-AR .vignetteactu:hover .vignetteactu_header img {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.vignetteactus-AR .vignetteactu a {
display: block;
text-decoration: none;
color: #fefefe;
}

.vignetteactus-AR .vignetteactu .vignetteactu_header {
overflow: hidden;
}

.vignetteactus-AR .vignetteactu .vignetteactu_header img {
-webkit-transition: -webkit-transform .4s ease;
transition: -webkit-transform .4s ease;
transition: transform .4s ease;
transition: transform .4s ease, -webkit-transform .4s ease;
width: 100%;
}

.vignetteactus-AR .vignetteactu .vignetteactu_title {
text-align: center;
}

.vignetteactus-AR .vignetteactu .vignetteactu_title h3 {
font-size: 14px;
/* padding: 8px 0 8px; */
margin: 4px;
font-weight: 400;
/* background-color: #fefefe; */
color: #ffffff;
font-family: 'Hind Madurai';
}

/*# sourceMappingURL=style.css.map */
.l-edito article {
margin-bottom: 16px;
}

.l-edito__article {
background-color: #FFF;
display: flex;
flex-direction: row;
flex-flow: wrap;
justify-content: center;
align-items: center;
grid-gap: 8px;
gap: 8px;
margin-left: 8px;
margin-right: 8px;
}

.l-edito__article > * {
width: 100%;
flex: 0 0 100%;
}

@media (min-width: 768px) {
.l-edito__article > * {
width: calc(50% - 8px);
flex: 0 0 calc(50% - 8px);
}
}

.l-edito__article.l-edito__article-inverse {
flex-direction: row-reverse;
}

.l-edito__article:nth-child(2) {
flex-direction: row-reverse;
}

.l-edito__article:nth-child(2).l-edito__article-inverse {
flex-direction: row;
}

.l-edito__content {
padding: 4%;
font-size: 14px;
}

.l-edito__image {
align-self: stretch;
}

.l-edito__image > img {
height: 100%;
object-fit: cover;
max-width: 100%;
}

.c-tabs__control.is-active:hover {
background-color: 293847;
color: #ffffff;
}

.c-tabs__control {
color: #ffffff !important;
text-decoration: none !important;
}

.c-opeco__container {
border-radius: 8px !important;
}

.o-card {
border-radius: 8px;
}

.carouselImage img {
border-radius: 8px;
}

.hidden-on-pc {
display: none;
}

.crTdgUl a {
background-size: cover !important;
border-radius: 16px;
}

#shortcuts-nav .u-hide {
display: none;
}

.carouselImage li {
padding: 0 8px !important;
}

.hubImgListing {
margin: 0;
}

.carouselXXL-container {
scrollbar-width: thin !important;
/* Largeur fine de la scrollbar */
}

.carouselXXL-container::-webkit-scrollbar {
width: 6px !important;
/* Largeur de la scrollbar */
background-color: #293847 !important;
/* Couleur de fond de la scrollbar */
}

.carouselXXL-container::-webkit-scrollbar-thumb {
background-color: #293847 !important;
/* Couleur de la thumb de la scrollbar */
border-radius: 3px !important;
/* Bordure arrondie */
}

.carouselXXL-container::-webkit-scrollbar-thumb:hover {
background-color: #000000 !important;
/* Couleur de la thumb de la scrollbar au survol */
}

.carouselXXL-container1 {
scrollbar-width: thin !important;
/* Largeur fine de la scrollbar */
}

.carouselXXL-container1::-webkit-scrollbar {
width: 6px !important;
/* Largeur de la scrollbar */
background-color: #293847 !important;
/* Couleur de fond de la scrollbar */
}

.carouselXXL-container1::-webkit-scrollbar-thumb {
background-color: #293847 !important;
/* Couleur de la thumb de la scrollbar */
border-radius: 3px !important;
/* Bordure arrondie */
}

.carouselXXL-container1::-webkit-scrollbar-thumb:hover {
background-color: #000000 !important;
/* Couleur de la thumb de la scrollbar au survol */
}

#brand-show .c-productCard--promoFlash {
height: 100%;
}

#bigoffre2 {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 16px;
}

@media screen and (max-width: 1039px) {
#bigoffre2 {
display: block;
}

#bloc1 {
margin-bottom: 16px;
}
}

#bigoffre2 .o-card--h .o-card__image {
height: 100%;
width: 370px;
object-fit: cover;
}

#bigoffre2 .o-card__image:first-child img {
width: 100%;
margin-top: -16px;
margin-left: -32px;
border-radius: 8px;
height: auto;
}

#bigoffre2 .o-card {
box-shadow: none;
}

#footer>div:not(.overPa1600), #paContent2>div:not(.overPa1600):not(.scTTdg), #paContent2>ul:not(.overPa1600), #paContent>div:not(.overPa1600):not(.scTTdg), #paContent>ul:not(.overPa1600) {
margin-left: auto;
margin-right: auto;
max-width: 1620px;
padding-left: 16px;
padding-right: 16px;
}

.c-banner {
position: sticky;
top: 69px;
z-index: 11;
}

@media screen and (max-width: 1023px) {
.c-banner {
top: 55px;
}
}

.u-bg--solde2023-500 {
background: linear-gradient(133.51deg, #D81C59 19.24%, #EA796F 84.78%);
}

.c-tabs--pills .c-tabs__control {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
align-items: center;
background: white;
border: 2px solid #293847 !important;
border-radius: 50em;
color: #293847 !important;
cursor: pointer;
display: inline-flex;
font-family: Hind Madurai,Hind-fallback,Arial,sans-serif;
font-size: 16px;
justify-content: center;
line-height: 1.5;
padding: 8px 16px;
position: relative;
text-decoration: none;
transition: all 70ms cubic-bezier(.4,.14,.3,1);
white-space: nowrap;
will-change: transform;
}

.c-tabs--pills .c-tabs__control[aria-selected=true] {
background-color: #293847;
color: #ffffff !important;
text-decoration: none !important;
}

.c-tabs--pills .c-tabs__control:hover {
background: #293847;
color: #ffffff !important;
}

.c-shortcutsnav__itemcdav {
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 16px;
padding-top: 16px;
}

.grid-itemcdav {
border-radius: 8px;
padding: 16px 8px 16px 8px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-width: 150px;
}

.o-card--imagemarque {
width: 25%;
padding-top: 16px;
margin-bottom: 16px;
}

@media (max-width: 1220px) {
.c-chip.c-chip--rounded.c-chip--cdav-cagnotte {
display: flex;
flex-direction: row;
position: relative;
right: 55%;
}
}

.c-shortcutsnav__itemcdav h4 {
text-align: center;
}

.c-hero__deco {
display: flex;
background-image: url(https://www.cdiscount.com/other/test_230731145608.png?ba31815d-b765-4754-b58e-e54669394c59);
justify-content: center;
align-items: center;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 320px;
width: 1600px;
}

#brand-control .c-productCard--promoFlash .o-card__image img {
height: 80% !important;
}

#brand-show2.open {
height: 100%;
opacity: 1;
padding-top: 0px;
}

#brand-show2 {
height: 0;
opacity: 0;
padding-top: 16px;
overflow: hidden;
transition: height 1.5s ease, opacity 1.5s ease;
}

.crTdgRight {
right: 16px;
}

.crTdgLeft {
left: 16px;
}
.custom-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr 2fr;
grid-gap: 16px;
/* Espacement entre les &eacute;l&eacute;ments en pourcentage */
align-items: center;
/* Centrer verticalement */
padding: 1%;
/* Marge int&eacute;rieure en pourcentage */
}

.big-image {
grid-column: span 3;
/* Occupe 3 colonnes */
width: 100%;
/* Remplit l'espace disponible */
height: auto;
/* S'adapte &agrave; la hauteur de l'image */
border-radius: 16px;
overflow: hidden;
}

.small-image-container {
display: flex;
flex-direction: column;
align-items: center;
}

.small-image {
margin-top: 16px;
/* Espacement entre les images en pourcentage */
}

.small-image img {
width: 100%;
/* Remplit la largeur disponible */
height: auto;
/* S'adapte &agrave; la hauteur de l'image */
}

@media (max-width: 768px) {
.custom-grid {
grid-template-columns: 1fr;
/* Une seule colonne pour la vue mobile */
}

.big-image {
grid-column: span 1;
/* Occupe une colonne */
}

.small-image-container {
margin-top: 0;
/* Supprimer la marge sup&eacute;rieure */
margin-bottom: 16px;
/* Ajouter une marge inf&eacute;rieure */
display: flex;
flex-direction: row;
/* Afficher les images en ligne pour le carrousel */
overflow-x: scroll;
/* Activer le d&eacute;filement horizontal */
scroll-snap-type: x mandatory;
/* Utiliser le d&eacute;filement snap pour le carrousel */
-webkit-overflow-scrolling: touch;
/* Activer le d&eacute;filement fluide sur iOS */
}

.small-image {
margin-right: 16px;
/* Espacement entre les images en pourcentage */
flex: 0 0 auto;
/* Emp&ecirc;cher les images de s'&eacute;tirer dans le carrousel */
scroll-snap-align: start;
/* Aligner chaque image sur le d&eacute;but du conteneur */
margin-top: 0px;
}
}
.l-cdav__content .l-cdav__wrap {
margin-right: auto;
margin-left: auto;
max-width: 900px;
}

.l-cdav__content .l-cdav__wrap > .grid-auto-md {
counter-reset: count;
}

.l-cdav__content .l-cdav__wrap > .grid-auto-md {
counter-reset: count;
}

.l-cdav__content .l-cdav__wrap .grid-item-rounded {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
grid-gap: 4px;
border-radius: 50em;
background-color: white;
padding: 2rem;
color: #293847;
aspect-ratio: 1;
gap: 4px;
}

.l-cdav__content .l-cdav__wrap .grid-item-rounded::after {
position: absolute;
top: 1rem;
left: 2rem;
content: counter(count);
display: flex;
justify-content: center;
align-items: center;
border-radius: 50em;
background-color: #293847;
height: 36px;
width: 36px;
font-size: 24px;
color: white;
counter-increment: count;
}

.l-cdav__content .l-cdav__wrap .grid-item-title {
font-weight: 600;
font-family: Montserrat;
margin-top: 8px;
font-size: 16px;
line-height: 1.2;
}

.l-cdav__content .o-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-gap: 8px;
max-height: 400px;
height: 100%;
padding-right: 50px;
padding-left: 50px;
}

.o-grid__item {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
grid-gap: 8px;
border-radius: 8px;
background-color: white;
padding: 16px 8px 16px 8px;
gap: 8px;
}

.o-block--white {
background-color: #fff;
padding: 16px;
}

.o-block {
border-radius: 8px;
margin-bottom: 32px;
}



.js-accordion__item {
border-bottom: 1px solid #b6c2cd;
padding-bottom: 16px;
}

.u-px-md {
padding-left: 16px;
padding-right: 16px;
}

.u-py-sm {
padding-bottom: 8px;
padding-top: 8px;
}

.o-text>:last-child {
margin-bottom: 0;
}

.o-text>:first-child {
margin-top: 0;
}

.o-text .o-text__block, .o-text blockquote, .o-text ol, .o-text p, .o-text table, .o-text ul {
margin-bottom: 16px;
}

.o-text blockquote, .o-text ol li, .o-text p, .o-text ul li {
line-height: 1.5;
}

.c-opeco__editoContent>* {
color: #fff;
border-radius: 100px;
}

@media screen and (max-width: 769px) {
.l-grid[data-grid-columns="4"] {
--grid-columns: 4;
}

[data-grid-gap=md] {
grid-gap: 16px;
gap: 16px;
}

.l-grid {
display: flex;
flex-direction: column;
}
}

.scroller__width {
min-width: 320px;
}

.card-button {
position: absolute;
bottom: 12%;
right: 1%;
}

.btn--white {
background-color: #fff;
}

.btn--white:hover {
background-color: #52B8BA;
border: 2px solid #52B8BA;
color: white;
}

.first_image_carrou {
justify-content: center;
display: flex;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
padding: 16px;
padding-bottom: 0px;
}

.bullets {
position: absolute;
bottom: 0px;
left: 50%;
transform: translateX(-50%);
display: flex;
align-items: center;
justify-content: center;
z-index: 10;
margin-bottom: 8px;
margin-top: 8px;
padding-left: 16px;
padding-right: 16px;
max-width: 100%;
}

.bullet {
width: 40px;
height: 4px;
border-radius: 4px;
background-color: #ffffff;
opacity: 70%;
margin: 4px;
cursor: pointer;
transition: width 0.2s ease 0s, background-color 0.2s ease 0s, border-radius 0.2s ease 0s;
}

.bullet.active {
background-color: rgb(255, 255, 255);
border-radius: 5px;
width: 70px;
opacity: 100%;
}

.c-productCard--promoFlash .c-productCard--promoFlash {
grid-gap : 8px;
gap: 8px;
}

.titrePA-content {
max-width: 1600px;
margin: 20px auto 20px auto;
text-align: left;
color: #293847;
padding: 5px 0;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 21px;
}

.titrePA-content .titre-container {
display: inline-block;
}

.titrePA-content .drapeauFD {
position: relative;
width: 100%;
display: flex;
}

.titrePA-content .drapeauFD div {
width: 33.3333333%;
height: 4px;
}

.titrePA-content .drapeauFD div.blue {
background: #4b99bb;
}

.titrePA-content .drapeauFD div.white {
background: white;
}

.titrePA-content .drapeauFD div.red {
background: #d03f39;
}

/*# sourceMappingURL=styles.css.map */
.u-text--body-lead {
font-weight: 600;
}

#footer>div:not(.overPa1600), #paContent2>div:not(.overPa1600):not(.scTTdg), #paContent2>ul:not(.overPa1600), #paContent>div:not(.overPa1600):not(.scTTdg), #paContent>ul:not(.overPa1600) {
padding-left: 4.5em;
padding-right: 4.5rem;
}

.max-width-xxl {
padding-left: 3.5rem;
padding-right: 3.5rem;
}

.imgList1 a, .imgListRz a {
border-radius: 16px;
}

.imgList1 {
margin: 0px;
}

.o-card {
box-shadow: none;
}

.bottom-nav ul {
display: flex;
}

.bottom-nav li {
padding-right : 8px;
}


p {
line-height: 1.5;
padding-top: 8px !important;
padding-bottom: 8px !important;
}

.c-chip--date-next {
background: #ffab3e;
margin-bottom: 6px;
color: white;
position: relative;
z-index: 5;
}

.c-chip--date-today {
background: #2bb04a;
margin-bottom: 6px;
color: white;
position: relative;
z-index: 5;
}

@media (max-width: 1199px) {
.max-width-xxl {
padding-left: 0;
padding-right: 0;
}
}


.c-shortcutsnav__decote2 {
width: 82px;
height: 82px;
border-radius: 62px;
text-align: center;
position: absolute;
right: 32%;
top: -10px;
display: flex;
align-items: center;
justify-content: center;
font-weight: 600;
font-size: 18px;
color: white;
}

.vignette {
position: relative;
}

.decote_title1 {
font-size: 16px;
font-weight: 200;
}

.decote_title2 {
font-size: 24px;
padding-top: 4px;
font-weight: 600;
}

div#grille-rdv-2 {
--grid-columns: 4;
display: grid;
grid-auto-flow: row dense;
grid-template-columns: repeat(var(--grid-columns), 1fr);
gap: 16px;
}

div#grille-bloc-4 {
--grid-columns: 2;
display: grid;
grid-auto-flow: row dense;
grid-template-columns: repeat(var(--grid-columns), 1fr);
gap: 16px;
}

.img-hidden-on-pc {
display: none;
}