.container-telephone{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;

}

.container-telephone div{
    display: flex;
    justify-content: center;
}


mat-form-field{
    width: 50%;

}