<div class="container-telephone">
    <div>
        <h1>Quelle est votre numero de télephone ?</h1>
    </div>

    <div>
    <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
</div>