<div class="container grid">

  @if (isLoggedIn) {
  @for (products of data; track products) {
  <div class="products  col-3" (click) = "selectProduct(products)">
      <div class = "image_div" (mouseover)="mouseover(products)" (mouseleave)="mouseleave(products)">
        <a routerLink='/profile'><img [id]="'id'+products.idDemande" [src]="imag(products)"  />
        </a>
    </div>
    <div class="products_right">
        <div class="product_name"><a routerLink='/profile'>{{products.productName}} </a></div>
        <div class="product_price"> <a routerLink='/profile'>{{products.productPrice}}</a></div>
        <div class="product_message">{{products.productDescription}}</div>
        <div (click)="like(products)"><span><i class="bi bi-suit-heart"></i></span><span class="interagir">J'aime</span></div>
        <div><span><i class="bi bi-chat-dots"></i></span><span class="interagir">Répondre</span></div>
    </div>
  </div>
  }
  }
</div>
<mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page">
</mat-paginator>





<!-- 
  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">

      <div>
        @if(categories !== null){
        @for(category of categories; track category){
          <div>
            {{category.name}}
          </div>
        }}
      </div>
      <div class="text-end">
        <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
      </div>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo offcanvas</button>
  
  <hr />
  
  <pre>{{ closeResult }}</pre> -->