

  .product_firstname{
    box-sizing: border-box;
    font-weight: bold;
    margin-right: 5px;
    font-size: 25px;

  }

  .product_nom{
    display: flex;
    width: 100%;
  }

  .product_message{
    font-size: 25px;
    width: 100%;

  }

  .product_lastname{
    box-sizing: border-box;
    font-weight: bold;
    font-size: 25px;


  }

  
.products{
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px #000000 solid;
  border-radius: 10px;
  padding : 10px;
  margin : 20px;
  background-color: #ffffff;
  justify-content: space-between;
}

.products :hover{
cursor: pointer;

}

.products_right{
  min-width: 0;
  flex: 1;
  flex-basis: 0.000000001px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
}

.container{
  height : 100%;
  margin : 0 ;
  display: flex;

}

.products_interagir{
  display: flex;
  margin : 0;
  padding  : 0;
  justify-content: space-evenly;
  padding: 0 20%;
  div{
    display:flex;
    margin :0;
    bottom: 0;

    &:hover{
      cursor: pointer;
    }
  }

  .interagir {
    padding-left: 10px;
  }


}

#content{
  background-color: #000000;
}

ngb-carousel{
  width: 200px;
  height: 400px;
}

.image_div{
  margin: 0;
  padding: 0;
  height: 50%;
  width: 100%;
  border: #000000 1px solid;

  a{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}