.container-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dlkgMZ {
    margin-right: var(--spacing-s);
    margin-bottom: var(--spacing-s);


}

.c-photos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bLpXDE {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.bLpXDE input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 0;
    cursor: pointer;
    font-size: 0px;
    top: -14px;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.bLpXDE label {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
    height: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-body);
    background-color: var(--color-gray50);
    border: 2px dashed var(--color-gray500);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.2s ease 0s;
    margin-bottom: 0px;
}