<div class="container-photo">
    <div class="c-photos">
        <h1>Souhaitez-vous ajouter des photos ? (optionnel)</h1>
    </div>
<div class=" dlkgMZ"
    style="height: var(--size-136); width: var(--size-136);">
    <div class="FilePicker__StyledFileWrapper-sc-e63p8-1 bLpXDE"><input type="file" name="image"
            accept="image/jpeg,image/png"><label for="image"><button type="button" role="button" kind="minimal"
                shape="circle"
                class="Base__ButtonBase-sc-55113c-0 iySRQa Button__StyledWrapper-sc-12xphlo-1 Gxodf FilePicker___StyledButtonSmall-sc-e63p8-2 iQZUVU">
                <div class="Button___StyledDiv-sc-12xphlo-2 Chce"><span
                        class="Text__TextBase-sc-1frdnbv-0 Text__ParagraphBase-sc-1frdnbv-2 Text__StyledBody16-sc-1frdnbv-5 biTFkL XKjwC fsYHzu Button___StyledBody-sc-12xphlo-3 hqROJs">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

                            </span></div>
            </button></label></div>
</div>
</div>